table {
	width: 100%;
	border: 1px solid black;
}
th {
	background-color: grey;
	padding: 3px;
	min-width: 100px;
}
td {
	border: 1px solid black;
	padding: 3px;
	min-width: 100px;
	white-space: nowrap;
}
.agent {
	white-space: normal;
}

body {
   font-family: sans-serif;
 
}
