.MysteriousPagination__paginationButton {
  width: 45px;
}

.MysteriousPagination__pageSizeSelection {
  padding-left: 10px;
  font-weight: normal;
}

.MysteriousPagination__ActionBarItems__container {
  padding-top: 3px;
}