.processing-details__content {
  display:inline-flex;
  width: 100%;
}

.processing-details__content__expression-builder {
  flex-grow: 1;
}

.processing-details__content__properties {
  width: 250px;
}