.DocRefBreadcrumb {
}

.DocRefBreadcrumb__link {
  display: inline-block;
  //border: none;
}

.DocRefBreadcrumb__divider {
  display: inline-block;
}

.DocRefBreadcrumb__name {
  display: inline-block;
}
