.DocRefBreadcrumb {
}

.DocRefBreadcrumb__link {
  display: inline-block;
  cursor: pointer;
}

.DocRefBreadcrumb__divider {
  display: inline-block;
}

.DocRefBreadcrumb__name {
  display: inline-block;
}
