<!--
  ~ Copyright 2016-2025 Crown Copyright
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <!-- encoders are assigned the type
             ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="stroom" level="info" />
    <logger name="stroom.pipeline" level="debug" />
<!--    <logger name="stroom.pipeline.reader.ByteStreamDecoder" level="TRACE" />-->
    <logger name="stroom.pipeline.refdata" level="info" />
<!--    <logger name="stroom.pipeline.refdata.store.offheapstore.databases.TestRangeStoreDb" level="debug" />-->


<!--    <logger name="stroom.lmdb.LmdbEnv" level="debug" />-->
<!--    <logger name="stroom.pipeline.refdata.store.offheapstore.OffHeapRefDataLoader" level="debug" />-->
<!--    <logger name="stroom.pipeline.refdata.store.offheapstore.OffHeapStagingStore" level="debug" />-->
<!--    <logger name="stroom.pipeline.refdata.store.offheapstore.TestOffHeapStagingStore" level="debug" />-->
<!--    <logger name="stroom.pipeline.refdata" level="trace" />-->
<!--    <logger name="stroom.pipeline.refdata.ReferenceDataFilter" level="trace" />-->
<!--    <logger name="stroom.pipeline.refdata.store.StagingValueOutputStream" level="trace" />-->
<!--    <logger name="stroom.pipeline.refdata.store.offheapstore.RefDataOffHeapStore" level="debug" />-->
<!--    <logger name="stroom.pipeline.refdata.store.offheapstore.databases.KeyValueStoreDb" level="trace" />-->
<!--    <logger name="stroom.pipeline.refdata.store.offheapstore.databases.RangeStoreDb" level="trace" />-->

    <root level="error">
        <appender-ref ref="STDOUT" />
    </root>

</configuration>
