.DS_Store
*/target/
*.swp
node_modules
_book
.gradle/
classes/
libs/
jars/
stroom-dashboard-gwt/hs_err_pid*.log
stroom-app-gwt/hs_err_pid*.log

# IntelliJ
# Here we ignore everything and create exceptions for what we want to share.
/out/
*.iml
/.idea/*
!/.idea/runConfigurations
