language: java
dist: trusty
group: edge
jdk: oraclejdk8
sudo: required #to ensure we get a VM rather than a container for more memory and for all the apt-get stuff

env:
  global:
    - DOCKER_COMPOSE_VERSION=1.13.0
    # $TAGPERM environment variable
    # generate a token at https://github.com/settings/tokens and encrypt it
    # with `travis encrypt TAGPERM=<yoursecrettoken>`
    # also see: https://docs.travis-ci.com/user/encryption-keys/#Usage
    # and: https://docs.travis-ci.com/user/best-practices-security/
    - secure: "afb4Uu7C+f3DzugpcWGdL+IeW2Nlp6f/yZYd+1gOlOXEOjdF4cxnv8ENpApc6YgfJXhzZB/gBXx4EzcJwDnm/6ehBoPp9vqRd6zukkB9IcctjvL/0wSuoXnyagVjxZkpA8Jjv2z/tOLNppPbbTkS8gNqdN2ODCYbFos9oDH92h9b8pT6XUe3kfuqkw71+lLsK0xqXWWHprn5s6vjWOq6qGn0v7fwAIhRTT36/29IXuBB2hqzmzypq2U06nDGQ1HBfQhr/N7HMaZlQ2w5VGw3LgpEtc37JR5T4lvFso50dP3pmsfwUFdt+m08gxc4jPiaG+KFOFSi1MIXJxWec9sTf+HudfdO1LrsyqMHvY0i/ylL+9Qb3xqpWJ2g6RipHFKUyXyWbulSo5j94tuULxbjjoBrsoSfKZSO+jtFWdbKnQOsy5g9W7YuQ0m9hSmWji93pvDWq0N6ZLI6b5KA3vvHVgzbRZEKeYLdyDhFiGNxGhzBtWtGKp6qs5IKCKWvVx9jyt0Xgr+JsxNe3EY5S45xH6a4hoR3ZwMS0vxWJP/woHvfxZYz6LQl4gat3nUtSXyN4vxnFHSRaIDX0P5D6nH47kaEa7sjWBAch9gxIEXJg6aj/K+c6eNiXD3B5MN1FLbv2rico4AovAakOb+P1Po5WctcSFdEukVOhq5mUyml9Mk="
    #travis encrypt -r gchq/stroom GH_USER_AND_TOKEN="*****"
    #where ***** is '<github username>:<github personal access token>'
    #Required for curling the gh api to get the latest release sha
    - secure: "lfyHgJXGIUdZstOoMtwvyQp5UqS4A1m0lYkCgoXNpQPjWIrcloloQMWafIJ4eluJ5ro0HF8UQYkagwoWQrGX57KRQQOMHrg4bYzQGLbEFWSLciI5EABDyj1NXpPOhNN+sOViwKj+rKaDZ9DE/fo4PzsC6aDoA8zZ/Zlc34q/2YIQm6yiKp+OQWI0COeBaEZi9BW0nY44koVG7MRhB3m8RNYuWmO33rDgPKZBpsoXgnqmBi/seFBp8lJTC4ESUud1zHcHm/VfD/AO+nhWtUEFMxqGk2fHEFxmQE/jr2d1WxvGk4mmqU+lSNCTStchGQetuTbFSRE885qHmlRn7UUAxrQhYIOE18z+ZTqccCgSqvcp5EunZCTNIN8ps0HyvJHN3ewasyvyusKIJWsU/V4gRRSpGzsIWSsnlHV35RjKbJ13Er/Yt5Xp8EXW50AbOOuzFCI0pGyAf1NUpjf14dBix02OLNv+zn8/xITmcLc3wciuv0g3utkqW7xj7K1HHTKdUK9zQnk4qgN/q1zEepke0NxD39NwCtLgCdZt/BKu1X2gJzlT6xDRpn5aDB2QXpC56dmlQwEH5d1GyLSHSDrdwtxx/h0RgJ2NybMyHAlhIIhk6ACSBStwwpGjC/ya+Owyhp+aE6lFYkArq/XkcbZXBkInuDzs+avPdUYz7VlmQaU="
    
install: echo "skip 'gradle assemble' step to speed up build"

before_script: ./travis.before_script.sh

script: ./travis.script.sh

# Deploy the swagger-ui content and swagger specs to gh-pages
# Push to GitHub releases for any tagged commit - the key was generated by the Travis CLI.
deploy:
  - provider: pages
    skip_cleanup: true
    github_token: $GITHUB_TOKEN
    local_dir: gh-pages
    target_branch: gh-pages
    on:
      branch: master
      # A cron build on master should only be tagging commits and nothing else
      condition: "$TRAVIS_EVENT_TYPE != cron"
  - provider: releases
    api_key:
      secure: xUPJboaSjxs3lKCqXu5zYzdV75S+lu5EZ6RD+RigmQ5MSjeuFBhoBKYaJUz+ejaoFLfF8WSUbmlgTeRMK7QI4MtCqjy08uREext8sm0behMREz4mmPEb9eTLu+WfIXFbnOPG4pKzkAtHA3x+hNQN3EWga1Xa2WXGYdOuK1B7vnrYOPo9D2zI12JCaoXt0KUQ70LwE07uwBIuDn+0EbVsAftFatJh7jZXeMsE8GmdcwsM/DObKjtTLBH3bpE8pPPJ8H0ssuIsQk2jHg91cTgrlB0q0K1a5TjeKKMGPMY6S6UR9cB7l7FqCVEsOd7T/ExdKp1TflMRyuuKG9ACBXTaegfBt7pP7KYEpYtidC5p/b1J4cYvazVTIfo6m93wnOJAdcD1XeMqNIQZVSxNuflmgM8xZz+UuqPBF4dk3Z5Eoh4sTH+t6WmZY6YoIt6tRMQ8xRyvkTfzsfYUtsV4csyeB2oy5s/GJmYGtR5GjjK6T+mh8RmI/DVWW50ubdFaAYYdz+LSgfpGhBXEBkYPghMSjYiPDsJStXsOwRSQbR9LmRO7jk08PxxT33pLr8Ct0HoQPpSP8Fom4q1ntrZBDjeHL8/2cQtRKqUg3X9G0sU7aW5i0G4U7BE42Xkcc/VVJhFrVbRj5+xQq70uMyUmHi2Wh+mBQSY+ZlBrvr6FRcKj42E=
    file: 
      - stroom-app/build/libs/stroom-app-all.jar
      - stroom-app/src/main/resources/ui/swagger/swagger.json
      - stroom-app/src/main/resources/ui/swagger/swagger.yaml
    skip_cleanup: true
    on:
      tags: true

#clean out gradle caches as per travis docs
before_cache:
  - rm -f  $HOME/.gradle/caches/modules-2/modules-2.lock
  - rm -fr $HOME/.gradle/caches/*/plugin-resolution/

# Cache dependencies to speed up the build
cache:
  directories:
    - .autoconf
    - $HOME/.m2
    - libs
    - $HOME/.gradle/caches/
    - $HOME/.gradle/wrapper/

