language: java
dist: trusty
services: 
    - mysql
jdk: oraclejdk8
sudo: required
install: ./.travis.install.sh
addons:
  apt:
    packages:
    - mysql-server-5.6
    - mysql-client-core-5.6
    - mysql-client-5.6