#This is an example of the configuration file ~/.stroom/stroom.conf that sets 
#various properties for running stroom in development
#It is also used by travis for configuring stroom's integration tests

#Prevents stroom from prompting for a new password on first login
stroom.developmentMode=true

stroom.htmlTitle=Development Stroom

stroom.node=node1a
stroom.rack=rack1
stroom.temp=/tmp/stroom/

#Uncomment this to enable browser's right click menu for development
#stroom.ui.oncontextmenu=

#Hibernate properties
stroom.jpaHbm2DdlAuto=validate
stroom.jpaDialect=org.hibernate.dialect.MySQLInnoDBDialect

#Stroom database properties
stroom.jdbcDriverClassName=com.mysql.jdbc.Driver
stroom.jdbcDriverUrl=jdbc:mysql://localhost:3307/stroom?useUnicode=yes&characterEncoding=UTF-8
stroom.jdbcDriverUsername=stroomuser
stroom.jdbcDriverPassword=stroompassword1

#SQL Statistics database properties
stroom.statistics.sql.jdbcDriverClassName=com.mysql.jdbc.Driver
stroom.statistics.sql.jdbcDriverUrl=jdbc:mysql://localhost:3308/statistics?useUnicode=yes&characterEncoding=UTF-8
stroom.statistics.sql.jdbcDriverUsername=stroomuser
stroom.statistics.sql.jdbcDriverPassword=stroompassword1

stroom.security.apiToken=eyJhbGciOiJIUzI1NiJ9.eyJleHAiOjE1MzgyMDQyMDgsInN1YiI6ImFkbWluIiwiaXNzIjoic3Ryb29tIn0.H6P2BjLMKKsuSsjG3Yb6yax_KiJI-pJMipneXV-7czo
stroom.advertisedUrl=http://localhost:8080
stroom.auth.jwt.issuer=stroom
stroom.auth.jwt.enableTokenRevocationCheck=true
stroom.auth.service.url=http://auth-service:8099
stroom.auth.ui.url=http://localhost:5000

stroom.users.ui.url=http://localhost:5000/userSearch
stroom.apikeys.ui.url=http://localhost:5000/tokens
stroom.changepassword.url=http://localhost:5000/changepassword

#Service discovery
#Set this to false to local service lookup when you do not have Zookeeper
stroom.serviceDiscovery.enabled=false

#Kafka
#Set this to blank to prevent stroom from trying to establish a connection
stroom.connectors.kafka.default.bootstrap.servers=localhost:9092
stroom.connectors.kafka.default.connector.version=0.10.0.1

# Elastic
stroom.connectors.elastic.default.transport.hosts=localhost:9300
stroom.connectors.elastic.default.cluster.name=docker-cluster
stroom.connectors.elastic.default.connector.version=5.6.4

# UI URLs
stroom.url.list=annotations-query-ui,elastic-query-ui,kibana-ui,dashboard
stroom.url.annotations-query-ui=http://localhost:5001
stroom.url.elastic-query-ui=http://localhost:5002
stroom.url.kibana-ui=http://localhost:5601
stroom.url.dashboard=http://localhost:8080/dashboard.jsp

# Service URLs
stroom.url.annotations-service=http://localhost:8199/annotations/v1
stroom.url.annotations-query=http://localhost:8199/queryApi/v1
stroom.url.elastic-explorer=http://localhost:8299/explorerAction/v1
stroom.url.elastic-query=http://localhost:8299/queryApi/v1

# External Doc Ref
stroom.url.doc-ref.AnnotationsIndex=http://localhost:8199
stroom.url.doc-ref.ElasticIndex=http://localhost:8299
