.icon-button {
  width: 30px;
  height: 30px;
  border-radius: 3px;
}

.icon-button.left {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.icon-button.middle {
  border-radius: 0;
}

.icon-button.right {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.icon-button.circular {
  border-radius: 25px;
}

.icon-button.has-text {
  width: inherit;
}