.FolderExplorer {
  width: 100%;
}

.doc-ref-listing {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 100%;
  overflow-y: auto;
}

.DocRefListing__search-bar {
  padding-top: 0.3rem;
}

.DocRefListing__action-bar {
  display: flex;
  float: right;
  padding-top: 0.3rem;
}
