.ItemManager__buttons {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
  margin: 5px 0;
}

.ItemManager__table {
  width: 700px;
  height: 500px;
  outline: none;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  overflow: hidden;
}
