.ErrorView__container {
  height: calc(100% - 29px);
  position: relative;
}

.ErrorView__reactTable__container {
  position: absolute;
  top: 0; // If you want to push the top of the table down a bit, e.g. for a toolbar, do it here.
  right: 0;
  left: 0;
  bottom: 0;
}

.ErrorView__reactTable {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.ErrorView__reactTable .rt-td {
  padding: 2px 2px;
}

.ErrorView__reactTable .rt-tbody .rt-td {
  border-right: none;
}
