@import "../Element";
.element-palette {
  background-color: #fafafa;
  min-width: 11.5rem;
}

.ui.header.closed {
  padding-bottom: 0;
  margin-bottom: 0;
}

.element-palette-category .ui.styled.accordion {
  border-radius: 0;
}

.element-palette-category .ui.styled.accordion .content {
  background-color: #fafafa;
}

%element-palette-category__elements--shared {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  overflow: hidden;
  justify-content: left;
}

.element-palette-category__elements--open {
  @extend %element-palette-category__elements--shared;
  max-height: none;
}

.element-palette-category__elements--closed {
  @extend %element-palette-category__elements--shared;
  max-height: 0;
}
