%element-shared {
  //Copied from PipelineELement TODO: don't do this!
  padding: 0.5rem;
  width: 8rem;
  font-size: 0.8rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  border-style: solid;
  border-width: thin;
  border-radius: 5px;
  background-color: white; // Two possible shadow looks -- darker and lighter.
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1); //End copied from PipelineELement
}

%element-shared__icon {
  width: 0.7rem;
  margin-right: 0.3rem;
}

%element-shared__type {
  padding-top: 0.5rem;
  font-size: 80%;
}
