@import "./ElementPalette/ElementPalette";

$palette-width: 18rem;

.Pipeline-editor {
  height: 100vh;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: row;
}

/* The animation code */
@keyframes open-pallete {
  from {
    left: -$palette-width;
  }
  to {
    left: 0;
  }
}

.Pipeline-editor--palette-open {
  left: 0;
  animation-name: open-pallete;
  animation-duration: 0.3s;
}

/* The animation code */
@keyframes close-pallete {
  from {
    left: 0;
  }
  to {
    left: -$palette-width;
  }
}

.Pipeline-editor--palette-close {
  left: -$palette-width;
  animation-name: close-pallete;
  animation-duration: 0.3s;
}

.Pipeline-editor__element-palette {
  max-width: $palette-width;
  position: relative;
}

.Pipeline-editor__palette-toggle {
  position: relative;
  height: 100%;
  float: left;
}

.Pipeline-editor__graph {
  flex: 1;
  position: relative;
}

.Pipeline-element {
  padding: 0.5rem;
  width: 8rem;
  font-size: 0.8rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  border-style: solid;
  border-width: thin;
  border-radius: 5px;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.Pipeline-element__icon {
  width: 0.7rem;
  margin-right: 0.3rem;
}

.Pipeline-element__over {
  border-color: blue;
}

.Pipeline-element__over_can_drop {
  background-color: greenyellow;
}

.Pipeline-element__over_cannot_drop {
  background-color: red;
}

.Pipeline-element__dragging {
  border-style: dotted;
  opacity: 0.5;
}
