@import "./Element";

.Pipeline-element {
  @extend %element-shared;
}

.Pipeline-element__type {
  @extend %element-shared__type;
}

.Pipeline-element__type:focus {
  @extend %element-shared__type--focus;
}

.Pipeline-element__icon {
  @extend %element-shared__icon;
}

.Pipeline-element:hover {
  background-color: $hover-item-colour;
}

.Pipeline-element__over {
  border-color: blue;
}

.Pipeline-element__over_can_drop {
  background-color: greenyellow;
}

.Pipeline-element__over_cannot_drop {
  background-color: red;
}

.Pipeline-element__dragging {
  border-style: dotted;
  opacity: 0.5;
}

.Pipeline-element__selected {
  background-color: $selected-item-colour !important;
}
