.DataViewer__container {
  width: 100%;
  height: 100%;
  overflow-y: auto;
}

.DataViewer__paginationButton {
  width: 45px;
}

.DataViewer__pageSizeSelection {
  padding-left: 10px;
}

.DataViewer_table.ui.compact.table td {
  padding: 0.2em 0.3em;
}

.DataViewer_table.ui.compact.table th {
  padding: 0.4em 0.5em;
}
