.ElbowLine {
  display: grid;
  height: 100%;
  width: 100%;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50% 50%;
}
.ElbowLine__quarter:nth-child(1) {
  border-right: solid thick black;
}
.ElbowLine__quarter:nth-child(2) {
  border-bottom: solid thick black;
}
