.DocRefListingEntry {
  // padding: 0.7rem;
  // border-top: solid thin $very-light-grey;
  display: grid;
  grid-template-columns: 2.2rem 1fr;
  grid-template-areas:
    "docRefImage name"
    "children children";
  height: 1.8rem;
  overflow: hidden;
}

.DocRefListingEntry__docRefImage {
  cursor: pointer;
  // margin-right: 0.7rem;
  // padding-left: 0.36rem;
  // padding-top: 0.2rem;
  // // padding-bottom: 0.35rem;
  // width: 2.2rem;
  // grid-area: docRefImage;

  padding-top: 0.15rem;
  // padding-bottom: 0.35rem;
  width: 2.2rem;
  overflow: hidden;
  text-align: center;
}

.DocRefListingEntry__name {
  cursor: pointer;
  // font-size: 1.1rem;
  grid-area: name;
  padding-top: 0.35rem;
}

.DocRefListing__children {
  grid-area: children;
}

.DocRefListingEntry.dndIsOver {
  text-decoration: italic;
}

.DocRefListingEntry.canDrop {
  color: green;
}
.DocRefListingEntry.cannotDrop {
  color: red;
}
