.DocRefListingEntry {
  padding: 0.7rem;
  border-top: solid thin $very-light-grey;
  display: grid;
  grid-template-columns: auto 1fr 3rem;
  grid-template-areas:
    "docRefImage name enterFolderIcon"
    "children children children";
}

.DocRefListingEntry__docRefImage {
  cursor: pointer;
  margin-right: 0.7rem;
  grid-area: docRefImage;
}

.DocRefListingEntry__name {
  cursor: pointer;
  font-size: 1.1rem;
  grid-area: name;
}

.DocRefListingEntry__enterFolderIcon {
  cursor: pointer;
  grid-area: enterFolderIcon;
  justify-self: end;
}

.DocRefListing__children {
  grid-area: children;
}

.DocRefListingEntry.dndIsOver {
  text-decoration: italic;
}

.DocRefListingEntry.canDrop {
  color: green;
}
.DocRefListingEntry.cannotDrop {
  color: red;
}
