.app-search-bar {
  width: 100%;
}

.app-search-bar__input {
  width: 100%;
}

.app-search-listing {
  max-height: 20rem;
  overflow-y: scroll;
}

.app-search-header {
  padding: 0.7rem;
  font-size: 1.1rem;
}

.app-search-header__buttons {
  float: right;
}

.app-search-listing__empty {
  padding: 0.7rem;
}