.styled-select {
  height: 34px;
  width: 140px;
}

.styled-select select {
  border: 1px solid #ccc;
  border-radius: 3px;
  font-size: 16px;
  height: 34px;
  width: 168px;
  padding: 0.67857143em 1em;
}
