<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <!-- encoders are assigned the type
             ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="SCHEMA" class="ch.qos.logback.core.ConsoleAppender">
        <!-- encoders are assigned the type
             ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
        <encoder>
            <pattern>%m;%n</pattern>
        </encoder>
    </appender>

    <logger name="stroom" level="info" />

    <logger name="stroom.statistics" level="info" />
    
    <!--
    <logger name="stroom.refdata.store.onheapstore.OnHeapRefDataValueProxyConsumer" level="trace" />
    <logger name="stroom.refdata.store.offheapstore.OffHeapRefDataValueProxyConsumer" level="trace" />
    <logger name="stroom.refdata.RefDataValueByteBufferConsumer" level="trace" />
    <logger name="stroom.refdata.store.GenericRefDataValueProxyConsumer" level="trace" />
    -->


    <logger name="org.flywaydb" level="info" />

    <logger name="org.hibernate.tool.hbm2ddl.SchemaUpdate" additivity="false">
        <level value="debug"/>
        <appender-ref ref="SCHEMA"/>
    </logger>

    <root level="error">
        <appender-ref ref="STDOUT" />
    </root>

</configuration>