/.classpath
/.externalToolBuilders/
/gwt-DevMode/
/gwt-SuperDevMode/
**/gwt-unitCache/
*.log
/.project
/.settings/
/target/
/build/
/war/WEB-INF/lib
/docker/build/

# These are needed for the distribution build.
## We want to track the contents of the bin folder, but it's ignore elsewhere
## so we need to allow it.
!src/dist/bin
