.app-chrome {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
}

.app-chrome__sidebar {
  height: inherit;
  background-color: $semantic-blue;
}

.app-chrome__content {
  flex-grow: 1;
  width: auto;
  height: inherit;
}

.content-tabs {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.content-tabs__content {
  height: inherit;
  flex-grow: 1;
  overflow: hidden;
  padding: 0.5rem;
}

%content-tabs__tab {
  height: inherit;
}

.content-tabs__tab--chosen {
  @extend %content-tabs__tab;
  display: block;
}

.content-tabs__tab--hidden {
  @extend %content-tabs__tab;
  display: none;
}

.content-tabs__close-btn {
  border: none;
}

.content-tabs__close-btn:hover {
  color: red;
}

.ui.header:first-child {
  margin-top: 0.5rem !important; // semantic UI has a strange fixation with negative margins
}
