.app-chrome {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
}

.app-chrome__sidebar {
  height: inherit;
  background-color: $semantic-blue;
}

.app-chrome__content {
  flex-grow: 1;
  width: auto;
  height: inherit;
}

.app-chrome__content .ui.segment.active.tab {
  overflow: hidden;
}

.content-tabs__close-btn {
  border: none;
}

.content-tabs__close-btn:hover {
  color: red;
}
