.app-chrome {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
}

.app-chrome__sidebar {
  height: inherit;
  background-color: $semantic-blue;
}

.app-chrome__content {
  flex-grow: 1;
  width: auto;
  height: inherit;
}

.app-content {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.doc-ref-content {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.doc-ref-content__content {
  height: inherit;
  flex-grow: 1;
  overflow: hidden;
}

.doc-ref-content__close-btn {
  border: none;
  margin-left: $small-spacing;
}

.doc-ref-content__close-btn:hover {
  color: red;
}
