.app-chrome {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  position: absolute;
}

.app-chrome__sidebar {
  height: inherit;
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 0 1 auto;
}

.app-chrome__sidebar--expanded {
  width: 20rem;
}

.app-chrome__sidebar--collapsed {
  width: 2.2rem;
}

.app-chrome__sidebar-menu {
  overflow-y: auto;
  position: absolute;
  height: 100%;
  width: 100%;
}

.app-chrome__sidebar-menu:focus {
  outline: none;
}

.app-chrome__sidebar-menu__container {
  outline: none;
  position: relative;
  display: flex;
  flex-direction: column;
}

.app-chrome__sidebar-menu__activity-summary {
    position: absolute;
  right: 0;
  bottom: 0;
  padding: 0.36rem;
  width: 100%;
}

.app-chrome__sidebar__buttons .button {
  color: white;
}

.app-chrome__sidebar_header {
  padding-left: 0.7rem;
  height: 2.7rem;
  overflow: hidden;
  flex-shrink: 0;
}

.app-chrome__sidebar_header_icon {
  cursor: pointer;
}

.app-chrome__content {
  position: relative;
  width: 100%;
  height: 100%;
  overflow-y: auto;
}

.content-tabs {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.content-tabs__content {
  position: absolute;
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.app-chrome__content .ui.grid {
  margin: 0;
}

.app-chrome__content .ui.grid .column {
  padding: 0.3rem;
}

.content-tabs__close-btn {
  border: none;
}

.content-tabs__close-btn:hover {
  color: red;
}

.sidebar__logo {
  width: 8rem;
}

.menu-item__menu-icon {
  // padding-left: 0.55rem;
  padding-top: 0.35rem;
  padding-bottom: 0.35rem;
  width: 2.2rem;
  overflow: hidden;
  text-align: center;
}

.sidebar__menu-item.has-children--open {
  padding-bottom: 0;
}

.menu-item__text {
  padding-top: 0.35rem;
}
