// .welcome {
//   display: flex;
//   flex-direction: column;
// }

// .welcome__header {
//   display: inline-flex;
//   flex-direction: row;
//   flex-shrink: 0;
// }

.welcome__body {
  padding: 0.36rem;
  position: relative;
  flex-grow: 1;
  overflow: auto;
}

.welcome__image {
  width: 200px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.welcome__shortcuts__table {
  width: 400px;
}
