.UserPermissions {
  width: 100%;
}

.UserTable__container {
  height: calc(100% - 40px);
  position: relative;
}

.UserTable__reactTable__container {
  position: absolute;
  top: 0; // If you want to push the top of the table down a bit, e.g. for a toolbar, do it here.
  right: 0;
  left: 0;
  bottom: 0;
}

.UserTable__reactTable {
  position: absolute;
  top: 0px;
  right: 0;
  left: 0;
  bottom: 0;
  border: none;
}

.UserTable__reactTable .rt-td {
  padding: 2px 2px;
}

.UserTable__reactTable .rt-tbody .rt-td {
  border-right: none; // Make the table much more compact
}

.UserTable__reactTable .rt-table .rt-body .rt-tr-group {
  max-height: 23px;
}

.ReactTable .rt-tbody .rt-tr-group {
  max-height: 23px;
}

.ReactTable .rt-thead.-header {
  box-shadow: none;
  border-bottom: solid 1px lightgrey;
}

.UserTable__selectedRow {
  background-color: $selected-item-colour;
}
