<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{50} - %msg%n</pattern>
        </encoder>
    </appender>


    <logger name="org.flywaydb" level="info" />
    <logger name="stroom" level="debug" />
    <logger name="stroom.db.util.SlowQueryExecuteListener" level="debug" />
    <logger name="stroom.test.common.util.db.DbTestUtil" level="debug" />

<!--    <logger name="stroom.cache.impl.AbstractStroomCache" level="trace" />-->
<!--    <logger name="stroom" level="debug" additivity="false">-->
<!--        <appender-ref ref="STDOUT" />-->
<!--    </logger>-->


    <root level="warn">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>
