.Welcome__container {
  position: absolute;
  width: calc(100% - 130px); // 130 is the sidebar width
}

.Welcome {
  position: relative;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  border-top: none;
  padding: 10px;
  overflow: auto;
  width: 100%;
}

.Welcome__shortcutKeysTable {
  width: 100% !important;
}