@import "./MetaDetailTabs/MetaDetailTabs";

.StreamDetails__table {
  font-size: 11px;
}

.load-more-button {
  width: 100%;
}

// .data-viewer {
//   display: flex;
//   flex-direction: column;
// }

// .data-viewer__header {
//   display: inline-flex;
//   flex-direction: row;
//   flex-shrink: 0;
// }

// .data-viewer__search {
//   padding: 0.4rem;
//   flex-shrink: 0;
// }

// .data-viewer__main {
//   position: relative;
//   flex-grow: 1;
//   overflow: hidden;
// }
