.ReactModal__Overlay {
  background-color: rgba(0, 0, 0, 0.65) !important;
}

.ReactModal__Content {
  border-radius: 0.5rem !important;
}

.themed-modal {
  //box-shadow: 4px 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.themed-modal__container {
  height:100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.themed-modal__header {
  padding: 1rem 1rem 0rem 1rem;
}

.themed-modal__header h2 {
  padding: 0;
  margin: 0;
}

.themed-modal__content {
  padding: 1rem 1rem 1rem 1rem;
}

.themed-modal__footer__actions {
  background: rgba(0, 0, 0, 0.05);
  padding: 5px;
  display: flex;
  justify-content: flex-end;
}
