// .welcome {
//   display: flex;
//   flex-direction: column;
// }

// .welcome__header {
//   display: inline-flex;
//   flex-direction: row;
//   flex-shrink: 0;
// }

.BuildInfo {
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 0.36rem;
}

// .welcome__image {
//   width: 200px;
//   display: flex;
//   flex-direction: row;
//   align-items: center;
// }

// .welcome__shortcuts__table {
//   width: 400px;
// }
