.element-pallete {
  max-width: 18rem;
  padding: 0.5rem;
}

.element-pallete__title {
}

.element-pallete__categories {
}

.element-pallete-category {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.element-pallete-category__title {
  border-bottom: solid thin grey;
  padding-bottom: 0.5rem;
}

.element-pallete-category__elements {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.element-pallete-element {
  margin-bottom: 0.5rem;
}

.element-pallete-element__button-contents {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.element-pallete-element__icon {
  width: 1.5rem;
}

.element-pallete-element__type {
  padding-top: 0.5rem;
  font-size: 80%;
}
