<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <!-- encoders are assigned the type
             ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="stroom" level="info" />
    <logger name="stroom.proxy.app" level="info" />
<!--    <logger name="stroom.proxy.repo" level="debug" />-->
<!--    <logger name="stroom.proxy.app.handler" level="debug" />-->
<!--    <logger name="stroom.proxy.app.handler.TestZipDirScanner" level="debug" />-->
<!--    <logger name="stroom.proxy.app.handler.DirUtil" level="debug" />-->
<!--    <logger name="stroom.proxy.app.handler.DirUtil" level="trace" />-->
    <!--    <logger name="stroom.proxy.app.handler.DirQueue" level="trace" />-->
    <logger name="stroom.proxy.app.TestRemoteReceiveDataRuleSetServiceImpl" level="debug" />
    <logger name="stroom.proxy.app.AbstractDownstreamClient" level="debug" />

    <root level="error">
        <appender-ref ref="STDOUT" />
    </root>

</configuration>
