.dialog-content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.flexible-modal {
  position: absolute;
  z-index: 100;
  background: white;
  color: rgba(0, 0, 0, 0.85);
  border-radius: 0.3rem;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.7);
}

.flexible-modal-mask {
  position: fixed;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
}

.flexible-modal-resizer {
  position: absolute;
  right: -16px;
  bottom: -16px;
  cursor: se-resize;
  background: url('../images/resize.svg') no-repeat;
  padding: 5px;
  width: 32px !important;
  height: 32px !important;
  border-right: none;
  border-bottom: none;
  background-position-x: 5px;
  background-position-y: 5px;
}

.flexible-modal-drag-area {
  background: transparent;
  height: 68px;
  position: absolute;
  right: 0;
  top: 0;
  cursor: move;
}

.flexible-modal-drag-area-left {
  visibility: hidden;
  width: 0 !important;
  height: 0 !important;
}

.flexible-modal-drag-area-right {
  visibility: hidden;
  width: 0 !important;
  height: 0 !important;
}

.flexible-modal-drag-area-bottom {
  visibility: hidden;
  width: 0 !important;
  height: 0 !important;
}
