.dialog-content.dialog-content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.flexible-modal.flexible-modal {
  position: absolute;
  z-index: 100 !important;
  background: var(--page-background-color) !important;
  border-radius: 0.3rem !important;
  box-shadow: var(--dialog-shadow) !important;
}

.flexible-modal-mask.flexible-modal-mask {
  position: fixed;
  height: 100%;
  background: rgba(0, 0, 0, 0.4) !important;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100 !important;
}

.flexible-modal-resizer.flexible-modal-resizer {
  position: absolute;
  right: -16px !important;
  bottom: -16px !important;
  cursor: se-resize;
  background: url('../images/resize.svg') no-repeat  !important;
  padding: 5px;
  width: 32px !important;
  height: 32px !important;
  border-right: none !important;
  border-bottom: none !important;
  background-position-x: 5px !important;
  background-position-y: 5px !important;
}

.flexible-modal-drag-area.flexible-modal-drag-area {
  background: transparent;
  height: 68px;
  position: absolute;
  right: 0;
  top: 0;
  cursor: move;
}

.flexible-modal-drag-area-left.flexible-modal-drag-area-left {
  visibility: hidden;
  width: 0 !important;
  height: 0 !important;
}

.flexible-modal-drag-area-right.flexible-modal-drag-area-right {
  visibility: hidden;
  width: 0 !important;
  height: 0 !important;
}

.flexible-modal-drag-area-bottom.flexible-modal-drag-area-bottom {
  visibility: hidden;
  width: 0 !important;
  height: 0 !important;
}
