.dropdown {
  position: relative;
  display: inline-block;
  width: 100%;
}

.dropdown__content {
  display: none;
  position: absolute;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown__content.open {
  display: flex;
  flex-direction: column;
}
