@import "themes";

.clickable-item {
  cursor: pointer;
}

.hoverable-item:hover {
  background-color: var(--item__background-color--hover) !important;
  color: var(--item__text-color--hover) !important;
}

.selected-item {
  background-color: var(--item__background-color--selected) !important;
  color: var(--item__text-color--selected) !important;
}

.selected-item:hover {
  background-color: var(--item__background-color--selected--hover) !important;
  color: var(--item__text-color--selected--hover) !important;
}

:focus .highlighted-item {
  background-color: var(--item__background-color--focus--highlighted) !important;
  color: var(--item__text-color--highlighted) !important;
}

:focus .highlighted-item:hover {
  background-color: var(--item__background-color--focus--highlighted--hover) !important;
  color: var(--item__text-color--highlighted--hover) !important;
}

:focus .selected-item {
  background-color: var(--item__background-color--focus--selected) !important;
  color: var(--item__text-color--focus--selected) !important;
}

:focus .selected-item.highlighted-item {
  background-color: var(--item__background-color--focus--highlighted--selected) !important;
  color: var(--item__text-color--highlighted--focus--selected) !important;
}
