.page {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.page__header {
  display: inline-flex;
  // flex-direction: row;
  // flex-shrink: 0;
  flex-wrap: wrap;
  padding: .36rem;
  // padding-bottom: 0;
}

.page__breadcrumb {
  // padding: 0 0.4rem 0.4rem 0.4rem;
  // flex-shrink: 0;
  flex-basis: 100%;
}

.page__search {
  padding: 0.4rem;
  flex-shrink: 0;
}

.page__body {
  position: relative;
  flex-grow: 1;
  overflow: hidden;
  outline: none;
}

// .page__buttons {
// }
