.ThemedStory__topBar {
  display: flex;
  flex-direction: row;
  width: 100%;
  background: red;
  padding: 0.5rem;
  align-items: center;
}

.ThemedStory__themePicker {
  width: 10rem;
  padding: 0.5rem;
}

.ThemedStory__fullScreen {
  width: 100%;
  height: 100%;
}

.ThemedStory__center {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}