///////////////
// Functions //
///////////////

@import "themes.scss";
@mixin themify($themes: $themes) {
  @each $theme, $map in $themes {
    .theme-#{$theme} & {
      $theme-map: () !global;
      @each $key, $submap in $map {
        $value: map-get(map-get($themes, $theme), "#{$key}");
        $theme-map: map-merge(
          $theme-map,
          (
            $key: $value
          )
        ) !global;
      }
      @content;
      $theme-map: null !global;
    }
  }
}

@function themed($key) {
  @return map-get($theme-map, $key);
}

////////////////////////
// General-use styles //
////////////////////////

.header {
  @include themify($themes) {
    color: themed("text__color");
  }
}

.header > .icon {
  @include themify($themes) {
    color: themed("header__icon-color");
  }
}

table {
  @include themify($themes) {
    background-color: themed("raised-low__background-color");
    color: themed("text__color");
    border: themed("border");
  }

  td {
    @include themify($themes) {
      color: themed("text__color");
    }
  }

  th {
    @include themify($themes) {
      background-color: themed("raised-low__background-color");
      color: themed("text__color");
    }
  }
}

.dropdown__content {
  @include themify($themes) {
    background-color: themed("background__color");
  }
}

input {
  @include themify($themes) {
    background-color: themed("background__color");
    color: themed("text__color");
  }
}

.form {
  label {
    @include themify($themes) {
      color: themed("text__color");
    }
  }

  input {
    @include themify($themes) {
      background-color: themed("background__color");
      color: themed("text__color");
    }
  }
}

// Styling SUI dropdowns was surprisingly gnarly,
// even though most of it is the standard palette.
.dropdown {
  // This styles the main drop-down box
  @include themify($themes) {
    background-color: themed("dropdown__background-color");
    color: themed("text__color");
    border: themed("dropdown__border");
  }
  // This styles the actual drop-down bit.
  .menu {
    @include themify($themes) {
      background-color: themed("dropdown__background-color");
      color: themed("text__color");
      border: themed("dropdown__border");
    }
  }

  // This makes sure the text is the right colour
  .text {
    @include themify($themes) {
      color: themed("text__color");
    }
  }

  // We need to get rid of the border for erverything inside the drop-down.
  .text,
  .active,
  .item,
  .icon {
    border: 0;
    @include themify($themes) {
      color: themed("text__color");
    }
  }

  // We need a hover colour for the drop-down.
  .item:hover,
  .text:hover {
    @include themify($themes) {
      background-color: themed("dropdown__hover-color");
    }
  }
}

.button {
  @include themify($themes) {
    background-color: themed("background__color");
    color: themed("text__color");
  }
}

.button.positive {
  @include themify($themes) {
    background-color: themed("selected-color");
    color: themed("text__color");
  }
}

.hoverable:hover {
  @include themify($themes) {
    background-color: themed("hover-color");
  }
}

:focus .inFocus {
  @include themify($themes) {
    background-color: themed("raised-high__selected-background-color");
  }
}

.raised-high .selected {
  @include themify($themes) {
    background-color: themed("raised-high__selected-background-color");
  }
}

:focus .raised-high .inFocus {
  @include themify($themes) {
    background-color: themed("raised-high__selected-background-color");
  }
}

.flat {
  @include themify($themes) {
    background-color: themed("background__color");
    color: themed("text__color");
  }
}

.flat-text {
  @include themify($themes) {
    color: themed("text__color");
  }
}

.raised-low {
  @include themify($themes) {
    background-color: themed("raised-low__background-color");
    color: themed("text__color");
  }
}

.selected {
  @include themify($themes) {
    background-color: themed("selected-color");
  }
}

.selected:hover {
  @include themify($themes) {
    background-color: themed("selected-color");
  }
}

.raised-high {
  @include themify($themes) {
    background-color: themed("raised-high__background-color");
    color: themed("text__color");
  }
}

.border {
  @include themify($themes) {
    border: themed("border");
  }
}

.raised-border {
  @include themify($themes) {
    border: themed("raised-element__border");
  }
}

.borderless {
  @include themify($themes) {
    border: 0;
  }
}

.button {
  @include themify($themes) {
    border: themed("icon-button__border");
    background-color: themed("icon-button__background-color");
    color: themed("icon-button__color");
  }
}

.button.selected {
  @include themify($themes) {
    background-color: themed("selected-color");
  }
}

.button:hover:enabled,
.button:focus:enabled {
  @include themify($themes) {
    color: themed("icon-button__color--hover");
    background-color: themed("icon-button__background-color--hover");
  }
}

.button.raised-high:hover:enabled,
.button.raised-high:focus:enabled {
  @include themify($themes) {
    color: themed("text__color--deemphasised");
    background-color: themed("raised-high__selected-background-color");
  }
}

.button:disabled,
.button[disabled] {
  background-color: #cccccc;
  color: #666666;
}

/////////////////////
// Specific styles //
/////////////////////

.sidebar__logo svg path {
  @include themify($themes) {
    fill: themed("sidebar__header-color");
  }
}
.sidebar__menu-item {
  @include themify($themes) {
    color: themed("text__color--deemphasised");
  }
}
.sidebar__menu-item.is-active {
  @include themify($themes) {
    background-color: themed("raised-high__selected-background-color");
  }
}
.sidebar__menu-item.nav:hover {
  @include themify($themes) {
    background-color: themed("raised-high__selected-background-color");
  }
}

.sidebar__menu-item.doc:hover {
  @include themify($themes) {
    background-color: themed("raised-high__selected-background-color");
  }
}

.tooltip-popup {
  @include themify($themes) {
    &.place-top {
      &:after {
        border-top-color: themed("raised-high__background-color");
        border-top-style: solid;
        border-top-width: 6px;
      }
    }
  }
}

.breadcrumb__divider {
  @include themify($themes) {
    color: themed("breadcrumb__divider___color");
  }
}
.breadcrumb__section {
  @include themify($themes) {
    color: themed("breadcrumb__section___color");
  }
}
.breadcrumb__section--active {
  @include themify($themes) {
    color: themed("breadcrumb__section--active___color");
  }
}

.pagination__container .pagination a {
  @include themify($themes) {
    color: themed("text__color");
  }
}
.pagination__container .pagination .active {
  @include themify($themes) {
    background-color: themed("selected-color");
  }
}

.react-sweet-progress-line {
  @include themify($themes) {
    background-color: themed("raised-low__background-color");
  }
}
.react-sweet-progress-line-inner {
  @include themify($themes) {
    background-color: themed("selected-color");
  }
}

body ::-webkit-scrollbar {
}
body ::-webkit-scrollbar-track {
  @include themify($themes) {
    background-color: themed("scrollbar__track-color");
  }
}
body ::-webkit-scrollbar-thumb {
  @include themify($themes) {
    background-color: themed("scrollbar__thumb-color");
  }
}

.tabs {
  .tabular.menu {
    border-bottom: 1px solid #5f5f5f;

    .active.item {
      @include themify($themes) {
        background-color: themed("background__color");
        color: themed("text__color");
        border: themed("border");
      }
    }
    .item {
      @include themify($themes) {
        background-color: themed("background__color");
        color: themed("text__color");
        border: none;
      }
    }
  }
  .tab {
    @include themify($themes) {
      background-color: themed("background__color");
      color: themed("text__color");
      border: none;
    }
  }
}

.app-chrome__sidebar_header:hover {
  @include themify($themes) {
    background-color: themed("raised-high__selected-background-color");
  }
}
