@import "themes";

////////////////////////
// General-use styles //
////////////////////////

//.header {
//    color: var(--page__text-color);
//}
//
//.header > .icon {
//    color: var(--header__icon-color);
//}

//table {
//    background-color: var(--page__background-color);
//    color: var(--page__text-color);
//    border: thin solid var(--border-color);
//
//  td {
//      color: var(--page__text-color);
//  }
//
//  th {
//      background-color: var(--page__background-color);
//      color: var(--page__text-color);
//  }
//}

// .dropdown__content {
//     background-color: var(--control__background-color);
// }

input {
  background-color: var(--control__background-color);
  color: var(--control__text-color);
}

.form {
  label {
    color: var(--page__text-color);
  }

  input {
    background-color: var(--control__background-color);
    color: var(--control__text-color);
  }
}

// Styling SUI dropdowns was surprisingly gnarly,
// even though most of it is the standard palette.
.dropdown {
  // This styles the main drop-down box
  background-color: var(--control__background-color);
  color: var(--control__text-color);
  border: thin solid var(--control__border-color);

  // This styles the actual drop-down bit.
  .menu {
    background-color: var(--control__background-color);
    color: var(--control__text-color);
    border: thin solid var(--control__border-color);
  }

  // This makes sure the text is the right colour
  .text {
    color: var(--control__text-color);
  }

  // We need to get rid of the border for everything inside the drop-down.
  .text,
  .active,
  .item,
  .icon {
    border: 0;
    color: var(--control__text-color);
  }

  // We need a hover colour for the drop-down.
  .item:hover,
  .text:hover {
    background-color: var(--item__background-color--hover);
    color: var(--item__text-color--hover);
  }
}

:focus .inFocus {
  background-color: var(--raised-high__selected-focus-background-color);
}

.raised-high .selected {
  background-color: var(--raised-high__selected-background-color);
}

:focus .raised-high .inFocus {
  background-color: var(--raised-high__selected-focus-background-color);
}

.page {
  background-color: var(--page__background-color);
  color: var(--page__text-color);
}

.page__text {
  color: var(--page__text-color);
}

.raised-low {
  background-color: var(--raised-low__background-color);
  color: var(--raised-low__text-color);
}

.raised-high {
  background-color: var(--raised-high__background-color);
  color: var(--raised-high__text-color);
}

.control {
  background-color: var(--control__background-color);
  color: var(--control__text-color);
}

.border {
  border: thin solid var(--border-color);
}

.border-color {
  border-color: var(--border-color);
}

.raised-border {
  border: var(--raised-element__border);
}

.borderless {
  border: 0;
}


























.tooltip-popup {
  &.place-top {
    &:after {
      border-top-color: var(--raised-high__background-color);
      border-top-style: solid;
      border-top-width: 6px;
    }
  }
}

.-pagination input, .-pagination button, .-pagination select {
  background-color: var(--control__background-color) !important;
  color: var(--control__text-color) !important;
}

.pagination__container .pagination a {
  background-color: var(--control__background-color);
  color: var(--control__text-color);
}

.pagination__container .pagination .active {
  background-color: var(--control__background-color);
  color: var(--control__text-color);
}

.react-sweet-progress-line {
  background-color: var(--raised-low__background-color);
}
.react-sweet-progress-line-inner {
  background-color: var(--control__background-color);
}

.tabs {
  .tabular.menu {
    border-bottom: thin solid #5f5f5f;

    .active.item {
      background-color: var(--page__background-color);
      color: var(--page__text-color);
      border: thin solid var(--border-color);
    }
    .item {
      background-color: var(--page__background-color);
      color: var(--page__text-color);
      border: none;
    }
  }
  .tab {
    background-color: var(--page__background-color);
    color: var(--page__text-color);
    border: none;
  }
}
