$themes: (
  light: (
    background__color: #fff,
    text__color: rgba(0,0,0,.8),

    button__text-color: rgba(0,0,0,.6),
    button__text-transform: none,
    button__text-hover-color: #61b0e7,
    button__color: #dfe0e1,
    button__border: 0px solid #fff,

    sidebar__background-color:#2185d0,
    sidebar__color: rgba(255,255,255,0.9),
    sidebar__header-color: #fff,

    header__icon-color: #2185d0,

    table__background-color:#fff,
    table__border-color: #dfe0e1,

    dropdown__background-color: #fff,
    dropdown__border: 1px solid #dfe0e1,
    dropdown__hover-color: #dfe0e1,

    breadcrumb__divider___color: black,
    breadcrumb__section___color: black,
    breadcrumb__section--active___color: black,

    dock-ref-listing__item-border: dotted thin #dedede,

    icon-button__border:none,
    icon-button__background-color:#adadad,
    icon-button__color: #4d5250,
    icon-button__color--hover: black,
    
    modal__background-color: #2185d0, // TODO is this 'raised-thing__background-color'?
    modal__border: 1px solid #fff, // TODO is this 'border'?
  ),
  dark: (
    background__color: #282829,
    text__color: #ddd,

    icon__color: #ddd,
    icon__color--hover: white,

    button__text-color: #aaa,
    button__text-transform: uppercase,
    button__text-hover-color: #ddd,
    button__color: #333,
    button__border: 1px solid #aaa, // TODO is this border__color?

    sidebar__background-color: #4d5250, // TODO is this 'raised-thing__background-color'?
    sidebar__color: #fff,
    sidebar__header-color: #ff6f00,

    header__icon-color: #2185d0,

    table__background-color:#4d5250,
    table__border-color: #4d5250,

    dropdown__background-color: #282829,
    dropdown__border: 1px solid #4d5250,
    dropdown__hover-color: #4d5250,

    breadcrumb__divider___color: white,
    breadcrumb__section___color: white,
    breadcrumb__section--active___color: white,

    dock-ref-listing__item-border: dotted thin #525252,

    icon-button__border:none,
    icon-button__background-color:#282829,
    icon-button__color: #adadad,
    icon-button__color--hover: #ffffff,

    modal__background-color: #4d5250, // TODO is this 'raised-thing__background-color'?
    modal__border: 1px solid #aaa, // TODO is this 'border'?
  ),
);