@import "themes.scss";
@import "themify.scss";

////////////////////////
// General-use styles //
////////////////////////

.header {
  @include themify($themes) {
    color: themed("page__text-color");
  }
}

.header > .icon {
  @include themify($themes) {
    color: themed("header__icon-color");
  }
}

table {
  @include themify($themes) {
    background-color: themed("page__background-color");
    color: themed("page__text-color");
    border: thin solid themed("border-color");
  }

  td {
    @include themify($themes) {
      color: themed("page__text-color");
    }
  }

  th {
    @include themify($themes) {
      background-color: themed("page__background-color");
      color: themed("page__text-color");
    }
  }
}

// .dropdown__content {
//   @include themify($themes) {
//     background-color: themed("control__background-color");
//   }
// }

input {
  @include themify($themes) {
    background-color: themed("control__background-color");
    color: themed("control__text-color");
  }
}

.form {
  label {
    @include themify($themes) {
      color: themed("page__text-color");
    }
  }

  input {
    @include themify($themes) {
      background-color: themed("control__background-color");
      color: themed("control__text-color");
    }
  }
}

// Styling SUI dropdowns was surprisingly gnarly,
// even though most of it is the standard palette.
.dropdown {
  // This styles the main drop-down box
  @include themify($themes) {
    background-color: themed("control__background-color");
    color: themed("control__text-color");
    border: thin solid themed("control__border-color");
  }
  // This styles the actual drop-down bit.
  .menu {
    @include themify($themes) {
      background-color: themed("control__background-color");
      color: themed("control__text-color");
      border: thin solid themed("control__border-color");
    }
  }

  // This makes sure the text is the right colour
  .text {
    @include themify($themes) {
      color: themed("control__text-color");
    }
  }

  // We need to get rid of the border for everything inside the drop-down.
  .text,
  .active,
  .item,
  .icon {
    border: 0;
    @include themify($themes) {
      color: themed("control__text-color");
    }
  }

  // We need a hover colour for the drop-down.
  .item:hover,
  .text:hover {
    @include themify($themes) {
      background-color: themed("item__background-color--hover");
      color: themed("item__text-color--hover");
    }
  }
}

:focus .inFocus {
  @include themify($themes) {
    background-color: themed("raised-high__selected-focus-background-color");
  }
}

.raised-high .selected {
  @include themify($themes) {
    background-color: themed("raised-high__selected-background-color");
  }
}

:focus .raised-high .inFocus {
  @include themify($themes) {
    background-color: themed("raised-high__selected-focus-background-color");
  }
}

.page {
  @include themify($themes) {
    background-color: themed("page__background-color");
    color: themed("page__text-color");
  }
}

.page__text {
  @include themify($themes) {
    color: themed("page__text-color");
  }
}

.raised-low {
  @include themify($themes) {
    background-color: themed("raised-low__background-color");
    color: themed("raised-low__text-color");
  }
}

.raised-high {
  @include themify($themes) {
    background-color: themed("raised-high__background-color");
    color: themed("raised-high__text-color");
  }
}

.control {
  @include themify($themes) {
    background-color: themed("control__background-color");
    color: themed("control__text-color");
  }
}

.border {
  @include themify($themes) {
    border: thin solid themed("border-color");
  }
}

.border-color {
  @include themify($themes) {
    border-color: themed("border-color");
  }
}

.raised-border {
  @include themify($themes) {
    border: themed("raised-element__border");
  }
}

.borderless {
  @include themify($themes) {
    border: 0;
  }
}


























.tooltip-popup {
  @include themify($themes) {
    &.place-top {
      &:after {
        border-top-color: themed("raised-high__background-color");
        border-top-style: solid;
        border-top-width: 6px;
      }
    }
  }
}

.-pagination input, .-pagination button, .-pagination select {
  @include themify($themes) {
    background-color: themed("control__background-color") !important;
    color: themed("control__text-color") !important;
  }
}

.pagination__container .pagination a {
  @include themify($themes) {
    background-color: themed("control__background-color");
    color: themed("control__text-color");
  }
}

.pagination__container .pagination .active {
  @include themify($themes) {
    background-color: themed("control__background-color");
    color: themed("control__text-color");
  }
}

.react-sweet-progress-line {
  @include themify($themes) {
    background-color: themed("raised-low__background-color");
  }
}
.react-sweet-progress-line-inner {
  @include themify($themes) {
    background-color: themed("control__background-color");
  }
}

.tabs {
  .tabular.menu {
    border-bottom: thin solid #5f5f5f;

    .active.item {
      @include themify($themes) {
        background-color: themed("page__background-color");
        color: themed("page__text-color");
        border: thin solid themed("border-color");
      }
    }
    .item {
      @include themify($themes) {
        background-color: themed("page__background-color");
        color: themed("page__text-color");
        border: none;
      }
    }
  }
  .tab {
    @include themify($themes) {
      background-color: themed("page__background-color");
      color: themed("page__text-color");
      border: none;
    }
  }
}
