// These variables are lighter version of the Stroom blue.
// We might need additional colours, e.g. border colour
//    The main colour of an item when selected.
$selected-item-colour: rgb(224, 240, 255);
//    The hover colour of an item that might be selecter.
$hover-item-colour: rgb(247, 251, 255);

$animation-duration: 0.3s;

$low-priority-component-color: rgb(152, 155, 160);
$low-priority-component-color-hover: rgb(118, 121, 126);

$semantic-blue: #2185d0;
$semantic-blue-lighten: #398bca;
$primary-bg-colour: $semantic-blue;
$primary-text-colour: white;

$small-spacing: 1rem;
