@import "material_design_colors.css";

:root {
  // Some bootstrap defaults.
  --bootstrap-error-rgb: 220, 53, 69;
  --bootstrap-warning-rgb: 255, 193, 7;
  --bootstrap-success-rgb: 40, 167, 69;

  --bootstrap-error: rgb(var(--bootstrap-error-rgb));
  --bootstrap-warning: rgb(var(--bootstrap-warning-rgb));
  --bootstrap-success: rgb(var(--bootstrap-success-rgb));
}
