.doc-ref__selected {
    background-color: lightcyan
}

.doc-ref__dragging {
    opacity: 0.5;
    cursor: move
}

.folder__children {
    padding-left: 1rem
}

.folder__dragging {
    opacity: 0.5;
}

.folder__over_can_drop {
    color: blue
}

.folder__over_cannot_drop {
    color: red
}

.doc-ref-dropdown__item-name {
    margin-top: 0.5rem;
}

.doc-ref__context-menu-open {
    background-color: lightgreen;
}

// Semantic react and Semantic UI have some issues with modal placement
.ui.page.modals.transition.visible {
    display: flex !important;
}
.ui.modal {
    margin-top: 0 !important;
    margin-left: 'auto';
    margin-right: 'auto';
}
.ui.modal .scrolling.content {
    height: 70vh;
}