.DictionaryEditor {
  display: grid;
  align-items: center;
  grid-template-columns: auto 30rem;
  grid-template-rows: 3rem 3rem auto;
  grid-template-areas:
    "header actionButtons"
    "breadcrumb breadcrumb"
    "main main";

  width: 100%;
  height: 100%;
}

.DictionaryEditor__header {
  grid-area: header;
}

.DictionaryEditor__breadcrumb {
  grid-area: breadcrumb;
  padding: 0.7rem;
}

.DictionaryEditor__actionButtons {
  grid-area: actionButtons;
  justify-self: right;
}

.DictionaryEditor__main {
  grid-area: main;
  height: 100%;
}
