@import "../Element";
.element-details {
  padding: 0.5rem;
  background-color: white;
}

.element-details__header {
  padding-top: 20px;
}

.element-details__form {
  width: 100%;
  display: grid;
  grid-template-columns: 300px 200px 300px;
  grid-column-gap: 8px;
  grid-row-gap: 30px;
  margin-left: 10px;
}

.element-details__title {
  display: inline-flex;
}

.element-details__icon {
  height: 20px !important;
  width: 20px !important;
  padding-right:5px;
}

.element-details__property{
  display: inline-flex;
  margin: 10px;
}

.element-details__field {
  width: 600px;
}

.element-details__nothing-selected {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.element-details__summary {
  margin: 5px;
}

.element-property__advice {
  font-size: 12px;
}