@import "../Element";
.element-details {
  padding: 0.5rem;
  background-color: white;
}

.element-details__header {
  padding-top: 20px;
}

.element-details__form {
  width: 100%;
}

.element-details__icon {
  height: 10px;
}

.element-details__field {
  width: 600px;
}

.element-details__panel {}

.horizontal-panel__container {}