.pagination__container {
  display: inline-flex;
  padding-left: 10px;
}

.pagination__container .pagination {
  height: 40px;
  margin-top:5px !important;
}

.pagination__text {
  padding-top: 15px;
  padding-left: 20px;
  padding-right:5px;
}

.pagination__container .selection.dropdown {
  margin-top:5px !important;
  height: 40px;
  width:70px !important;
  margin-right:10px;
}