.Background {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.Background__logo {
  position: absolute;
  top: 0;
  left: 0;
  width: 146px;
  height: 35px;
}

.Layout__form-container {
  padding: 1rem;
  background: white;
  border-radius: .5rem;
}