/*@import "../../styles/themes.scss";*/

.Background {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.Background__logo {
  position: absolute;
  top: 0;
  left: 0;
  width: 146px;
  height: 35px;
}

.Layout__form-container {
  border-radius: .3rem;
  background-color: var(--page__background-color);
  color: var(--page__text-color);
}