@import "./Element";
.Pipeline-element {
  padding: 0.5rem;
  width: 8rem;
  font-size: 0.8rem;
  border-style: solid;
  border-width: thin;
  border-color: #afafaf;
  border-radius: 5px;
  overflow: hidden;
  background-color: white; // box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1), 0 2px 2px 0 rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  height: 60px;
  width: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Pipeline-element__type {
  padding-top: 0.5rem;
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  white-space: nowrap;
  width: 5.5rem;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: left;
  width: 90px;
}

.Pipeline-element:focus-within {
  border-width: 2px;
  border-color: black;
}

.Pipeline-element__icon {
  width: 0.7rem;
  margin-right: 0.3rem;
  height: 25px !important;
}

.Pipeline-element:hover {
  background-color: $hover-item-colour;
}

.Pipeline-element__over {
  // No common styles for a straight-forward hover at the moment
}

.Pipeline-element__over_can_drop {
  border-color: rgb(30, 136, 229);
  background-color: $selected-item-colour;
}

.Pipeline-element__cannot_drop {
  border-color: lightgrey;
  color: lightgray;
}

.Pipeline-element__not_over_can_drop {
  border-color: #68ee3f;
}

.Pipeline-element__dragging {
  border-style: dotted;
  opacity: 0.5;
}
