.gwt-TextBox.autocompleteTextBox {
    background-image: url('../background-images/drop-down.svg');
    cursor: pointer;
    background-size: 12px;
    background-origin: content-box;
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: 50%;
    background-color: transparent;
    border: none;
    max-width: 400px;
}

.stroom-theme-dark .gwt-TextBox.autocompleteTextBox,
.stroom-theme-dark-2 .gwt-TextBox.autocompleteTextBox {
    background-image: url('../background-images/drop-down-dark.svg');
}


.autocompletePopup {
}

.autocompletePopup-outer {
    padding: .2rem;
}

.autocompletePopup-layout {
    display : flex;
    flex-direction: column;
}

.svgIconBox {
    position: relative;
    height: 2rem;
    width: 100%;
}

.svgIconBox input {
    height: 100%;
    width: 100%;
    padding-right: 22px;
}

.svgIconBox-icon {
    position: absolute;
    top: 50%;
    right: 4px;
    height: 16px;
    width: 16px;
}

.svgIconBox-icon svg {
    position: absolute;
    top: -50%;
}

.autocompletePopup .gwt-ListBox {
    background-image: none;
    padding: 0;
    border: none;
    background: none;
    flex-grow: 1;
    width: 100%;
}

.autocompletePopup .gwt-ListBox option {
    background: none;
    padding:  .3rem;
}

.autocompletePopup .gwt-ListBox option:hover {
    background: var(--row__background-color--hovered);
}


