:root {
  --color-btn-text: #24292e;
  --color-btn-bg: #fafbfc;
  --color-btn-border: rgba(27, 31, 35, 0.15);
  --color-btn-shadow: 0 1px 0 rgba(27, 31, 35, 0.04);
  --color-btn-inset-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25);
  --color-btn-hover-bg: #f3f4f6;
  --color-btn-hover-border: rgba(27, 31, 35, 0.15);
}

.stroom-theme-dark {
  --color-btn-text: #fff;
  --color-btn-bg: #454545;
  --color-btn-border: #2f2f2f;
  --color-btn-shadow: 0 1px 0 rgba(27, 31, 35, 0.04);
  --color-btn-inset-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25);
  --color-btn-hover-bg: #505050;
  --color-btn-hover-border: #666;
}

.stroom-theme-dark2 {
  --color-btn-text: #fff;
  --color-btn-bg: #2f3540;
  --color-btn-border: #14161b;
  --color-btn-shadow: 0 1px 0 rgba(27, 31, 35, 0.04);
  --color-btn-inset-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25);
  --color-btn-hover-bg: #383d49;
  --color-btn-hover-border: #14161b;
}

/*
Inner elements
*/
.Button__margin {
  margin: 0.2rem;
}

.Button__text {
  padding-top: 1px;
}

.Button svg {
  /*z-index: 1;*/
}

/*
Button container to wrap multiple buttons
*/
.Button__container {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  /*margin: -$button-margin;*/
}

/*
Base for all buttons
*/
.Button--base {
  /* .jr0u89w */
  color: inherit;
  border: 0;
  margin: 0;
  cursor: pointer;
  display: inline-flex;
  outline: none;
  padding: 0;
  position: relative;
  align-items: center;
  user-select: none;
  border-radius: 0;
  vertical-align: middle;
  justify-content: center;
  -moz-appearance: none;
  text-decoration: none;
  background-color: transparent;
  -webkit-appearance: none;
  -webkit-tap-highlight-color: transparent;

  /*margin: $button-margin; */
  height: 32px;
}

.Button--base.Button--disabled {
  /* .jr0u89w.j1p4cocs */
  cursor: default;
  pointer-events: none;
}

/*
General button styles
*/
.Button {
  /* .j9la4jl */
  /*color: rgba(0, 0, 0, 0.87); */
  /*padding: .375rem 1rem; */
  /*font-size: 0.875rem; */
  min-width: 120px;
  /*box-sizing: border-box; */
  /*transition: background-color 250ms ease-in-out, box-shadow 250ms ease-in-out, border 250ms ease-in-out, color 250ms ease-in-out; */
  /*line-height: 1.75; */
  /* font-family: "Roboto", "Helvetica", "Arial", sans-serif; */
  /*font-weight: 500; */
  /*border-radius: .25rem; */
  /*letter-spacing: 0.02857em; */
  /*text-transform: uppercase; */
  /* */
  /*font-size: 0.7rem; */
  /* background-position: center; */
  /* transition: background 0.5s; */
  /* */
  /*position: relative; */
  /*overflow: hidden; */
  /* */
  /*font-family: "Open Sans", "Roboto", "Helvetica", "Arial", sans-serif; */
  /*font-weight: 600; */














  position: relative;
  display: inline-block;
  padding: 5px 16px;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid;
  border-radius: 6px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;




  color: var(--color-btn-text);
  background-color: var(--color-btn-bg);
  border-color: var(--color-btn-border);
  transition: .2s cubic-bezier(0.3, 0, 0.5, 1);
  transition-property: color,background-color,border-color;
  overflow: hidden;

  flex-shrink: 0;
}


.Button:focus {
  /*border-color: var(--color-btn-focus-border); */
  /*outline: none; */
  /*box-shadow: var(--color-btn-focus-shadow); */

  /*border-color: var(--color-btn-focus-border); */
  /*outline: none; */
  /*box-shadow: var(--color-btn-focus-shadow); */

  /*background-color: var(--control__background-color); */
  /*color: var(-control__text-color); */
  /*border-color: var(--control__border-color); */


  /*border-color: var(--button-default__color); */
  outline: 0;
  /*-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(var(--button-default__color),.6); */
  /*box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(var(--button-default__color),.6); */

  border-color: var(--focus-border);
  box-shadow: var(--focus-shadow);/*inset 0 1px 1px var(--col1), 0 0 8px var(--col2); */
}

/*.Button:focus { /** Some exciting button focus styles } */
.Button:focus:not(:focus-visible) {
  /* Undo all the above focused button styles
     if the button has focus but the browser wouldn't normally
     show default focus styles */

  /*border-color: var(--color-btn-border); */
  outline: 0;
  box-shadow: none;
  border-color: var(--color-btn-border) !important;

  /*border-color: #2196f3; */
  /*outline: 0; */
  /*box-shadow: inset 0 1px 1px rgb(0 0 0 // 8%), 0 0 8px rgb(33 150 243 // 60%); */


  /*border-color: var(--button-default__color); */
  /*outline: 0; */
  /*-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(var(--button-default__color),.6); */
  /*box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(var(--button-default__color),.6); */
}
.Button:focus-visible {
  /*border-color: var(--color-btn-focus-border); */
  /*outline: none; */
  /*box-shadow: var(--color-btn-focus-shadow); */
}

.Button:hover {
/*
  text-decoration: none;
    border-color: var(--color-btn-hover-border);
    */

  background-color: var(--color-btn-hover-bg);
  transition-duration: .1s;
}


.Button.Button--disabled {
  /* .j9la4jl.j1p4cocs { */
  color: rgba(0, 0, 0, 0.26);
}

.Button.Button--disabled:focus {
  border-color: var(--color-btn-border);
  box-shadow: var(--color-btn-shadow),var(--color-btn-inset-shadow);
}

.Button.Button--loading {
  opacity: 0.8;
}

.Button .Button__spinner {
  transition: width 0.5s ease-in-out, opacity 0.5s ease-in-out;
  /*transition: width 500ms; */
  width: 0;
  overflow: hidden;
  opacity: 0;
  display: flex;
}

.Button.Button--loading .Button__spinner {
  width: 2rem;
  opacity: 1;
}

.Button__content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: var(--color-btn-shadow),var(--color-btn-inset-shadow);
  border-radius: 5px;
}

.Button.Button--down .Button__content {
  box-shadow: none;
}


/*
Default buttons
 */
.Button--default {
  padding: .375rem .5rem;
  color: var(--color-btn-text);
}

.Button--default.Button--selected {
  background-color: var(--button-default__background-color--selected);
}

.Button--default:hover {
  background-color: var(--button-default__background-color--hover);
}

.Button--default-primary {
  color: var(--button-default-primary__color);
}

.Button--default-primary.Button--selected {
  background-color: var(--button-default-primary__background-color--selected);
}

.Button--default-primary:hover {
  background-color: var(--button-default-primary__background-color--hover);
}

.Button--default-secondary {
  color: var(--button-default-secondary__color);
}

.Button--default-secondary.Button--selected {
  background-color: var(--button-default-secondary__background-color--selected);
}

.Button--default-secondary:hover {
  background-color: var(--button-default-secondary__background-color--hover);
}

.Button--default.Button--disabled {
  color: var(--button__text-color--disabled);
}

.Button--default.Button--disabled:focus {
  box-shadow: none;
  border-color: var(--color-btn-border);
}


/*
Outline buttons
 */

.Button--outline {
  border: thin solid;
  padding: .3rem 1rem;
  color: var(--button-outline__color);
  border-color: var(--button-outline__border-color);
}

.Button--outline.Button--selected {
  border-color: var(--button-outline__border-color--hover);
  background-color: var(--button-outline__background-color--selected);
}

.Button--outline:hover {
  border-color: var(--button-outline__border-color--hover);
  background-color: var(--button-outline__background-color--hover);
}

.Button--outline.Button--disabled {
  color: var(--button-outline__color--disabled);
  border-color: var(--button-outline__border-color--disabled);
}

.Button--outline.Button--disabled:focus {
  box-shadow: none;
  border-color: var(--button-outline__border-color--disabled);
}

.Button--outline-primary {
  border: thin solid;
  color: var(--button-outline-primary__color);
  border-color: var(--button-outline-primary__border-color);
}

.Button--outline-primary.Button--selected {
  border-color: var(--button-outline-primary__border-color--hover);
  background-color: var(--button-outline-primary__background-color--selected);
}

.Button--outline-primary:hover {
  border: thin solid;
  border-color: var(--button-outline-primary__border-color--hover);
  background-color: var(--button-outline-primary__background-color--hover);
}

.Button--outline-primary.Button--disabled {
  color: var(--button-outline__color--disabled);
  border-color: var(--button-outline__border-color--disabled);
}

.Button--outline-primary.Button--disabled:focus {
  box-shadow: none;
  border-color: var(--button-outline__border-color--disabled);
}

.Button--outline-secondary {
  border: thin solid;
  color: var(--button-outline-secondary__color);
  border-color: var(--button-outline-secondary__border-color);
}

.Button--outline-secondary.Button--selected {
  border-color: var(--button-outline-secondary__border-color--hover);
  background-color: var(--button-outline-secondary__background-color--selected);
}

.Button--outline-secondary:hover {
  border: thin solid;
  border-color: var(--button-outline-secondary__border-color--hover);
  background-color: var(--button-outline-secondary__background-color--hover);
}

.Button--outline-secondary.Button--disabled {
  border: thin solid;
  color: var(--button-outline__color--disabled);
  border-color: var(--button-outline__border-color--disabled);
}

.Button--outline-secondary.Button--disabled:focus {
  box-shadow: none;
  border-color: var(--button-outline__border-color--disabled);
}

/*
Icon buttons
 */

.Button--icon {
  flex: 0 0 auto;
  text-align: center;
  transition: background 0.5s, background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  border-radius: 50%;

  /* Added  */
  min-width: 1.81rem;
  min-height: 1.81rem;
  font-size: 0.7rem;
  padding: 0.4rem;
  overflow: hidden;

  height: 1rem;
  width: 1rem;

  /*color: $grey-800; /* material grey 800 */
  color: var(--button-icon__color);
  background-color: transparent;

  border: none;
  box-shadow: none;
}

.Button.small {
  height: 20px;
  line-height: 0;
  font-size: 0.6rem;
}

.Button--icon.small {
  height: 1.2rem;
  width: 1.2rem;
  min-width: 0.25rem;
  min-height: 0.25rem;
  padding: 0.2rem;
  border-radius: 0.2rem;
}

.Button.large {
  height: 47px;
  line-height: 0;
  font-size: 1.2rem;
}

.Button--icon.large {
  height: 2.5rem;
  width: 2.5rem;
  padding: 0.2rem;
}

.Button--icon.Button--selected {
  background-color: var(--button-icon__background-color--selected);
}

.Button--icon:hover {
  background: var(--button-icon__background-color--hover);
}

.Button--icon-primary {
  color: var(--button-icon-primary__color);
}

.Button--icon-primary.Button--selected {
  background-color: var(--button-icon-primary__background-color--selected);
}

.Button--icon-primary:hover {
  background: var(--button-icon-primary__background-color--hover);
}

.Button--icon-secondary {
  color: var(--button-icon-secondary__color);
}

.Button--icon-secondary.Button--selected {
  background-color: var(--button-icon-secondary__background-color--selected);
}

.Button--icon-secondary:hover {
  background: var(--button-icon-secondary__background-color--hover);
}

.Button--icon.Button--disabled {
  opacity: .4;
  background-color: transparent;
  box-shadow: none;
  color: var(--button-icon__color--disabled);
}

.Button--icon.Button--disabled:focus {
  box-shadow: none;
  border: none;
}

/*
Contained buttons
 */

.Button--contained {
  color: var(--button-contained__color);
  background-color: var(--button-contained__background-color);
}

.Button--contained.Button--selected {
  background-color: var(--button-contained__background-color--selected);
}

.Button--contained:hover {
  background-color: var(--button-contained__background-color--hover);
}

.Button--contained:active {
  /* .jpyw0mp:active */
  /*box-shadow: 0 .3rem .3rem -.18rem rgba(0, 0, 0, 0.2), 0 .5rem .625rem .06rem rgba(0, 0, 0, 0.14), 0 .18rem .875rem .125rem rgba(0, 0, 0, 0.12); */
}

.Button--contained-primary {
  color: var(--button-contained-primary__color);
  background-color: var(--button-contained-primary__background-color);
}

.Button--contained-primary.Button--selected {
  background-color: var(--button-contained-primary__background-color--selected);
}

.Button--contained-primary:hover {
  background-color: var(--button-contained-primary__background-color--hover);
}

.Button--contained-primary:focus {
  /*border-color: var(--focus-border--secondary); */
  /*outline: 0; */
  /*-webkit-box-shadow: var(--focus-shadow--secondary); */
  /*box-shadow: var(--focus-shadow--secondary); */
  /*box-shadow: var(--focus-shadow--secondary); */
}

.Button--contained-secondary {
  color: var(--button-contained-secondary__color);
  background-color: var(--button-contained-secondary__background-color);
}

.Button--contained-secondary.Button--selected {
  background-color: var(--button-contained-secondary__background-color--selected);
}

.Button--contained-secondary:hover {
  background-color: var(--button-contained-secondary__background-color--hover);
}

.Button--contained-secondary:focus {
  border-color: var(--focus-border--secondary);
  outline: 0;
  -webkit-box-shadow: var(--focus-shadow--secondary);
  box-shadow: var(--focus-shadow--secondary);
}

.Button--contained-green {
  color: var(--button-contained-green__color);
  background-color: var(--button-contained-green__background-color);
}

.Button--contained-green.Button--selected {
  background-color: var(--button-contained-green__background-color--selected);
}

.Button--contained-green:hover {
  background-color: var(--button-contained-green__background-color--hover);
}

.Button--contained-green:focus {
}

.Button--contained.Button--disabled {
  box-shadow: none;
  color: var(--button-contained__color--disabled);
  background-color: var(--button-contained__background-color--disabled);
}

.Button--contained.Button--disabled:focus {
  box-shadow: none;
  border: none;
}

/*
Ripple effect
 */

.ripple-container {
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.ripple {
  position: absolute;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.1);

  width: 6.25rem;
  height: 6.25rem;
  margin-top: -3.125rem;
  margin-left: -3.125rem;

  animation: ripple 1s;
  opacity: 0;
  /*background-color: var(--ripple__background-color); */
}

@keyframes ripple {
  from {
    opacity: 1;
    transform: scale(0);
  }

  to {
    opacity: 0;
    transform: scale(10);
  }
}
