:root {
  /*
  Default buttons
  */
  --button-default__color: var(--grey-800); /* material grey 800 */
  --button-default__background-color--hover: rgba(var(--grey-500-rgb), 0.3); /* material grey 500 30% */
  --button-default__background-color--selected: rgba(var(--grey-500-rgb), 0.2); /* material grey 500 20% */

  --button-default-primary__color: var(--blue-500); /* material blue 500 */
  --button-default-primary__background-color--hover: rgba(var(--blue-500-rgb), 0.2); /* material blue 500 20% */
  --button-default-primary__background-color--selected: rgba(var(--blue-500-rgb), 0.1); /* material blue 500 10% */

  --button-default-secondary__color: var(--pink-500); /* material pink 500 */
  --button-default-secondary__background-color--hover: rgba(var(--pink-500-rgb), 0.2); /* material pink 500 20% */
  --button-default-secondary__background-color--selected: rgba(var(--pink-500-rgb), 0.1); /* material pink 500 10% */

  --button-default__color--disabled: rgba(var(--black-rgb), 0.26);

  /*
  Outline buttons
  */
  --button-outline__color: var(--grey-800); /* material grey 800 */
  --button-outline__border-color: rgba(var(--grey-500-rgb), 0.8); /* material grey 500 80% */
  --button-outline__border-color--hover: rgba(var(--grey-500-rgb), 1.0); /* material grey 500 100% */
  --button-outline__background-color--hover: rgba(var(--grey-500-rgb), 0.3); /* material grey 500 30% */
  --button-outline__background-color--selected: rgba(var(--grey-500-rgb), 0.2); /* material grey 500 20% */

  --button-outline-primary__color: var(--blue-500); /* material blue 500  */
  --button-outline-primary__border-color: rgba(var(--blue-500-rgb), 0.5); /* material blue 500 50% */
  --button-outline-primary__border-color--hover: rgba(var(--blue-500-rgb), 1.0); /* material blue 500 100% */
  --button-outline-primary__background-color--hover: rgba(var(--blue-500-rgb), 0.2); /* material blue 500 20% */
  --button-outline-primary__background-color--selected: rgba(var(--blue-500-rgb), 0.1); /* material blue 500 10% */

  --button-outline-secondary__color: var(--pink-500); /* material pink 500  */
  --button-outline-secondary__border-color: rgba(var(--pink-500-rgb), 0.5); /* material pink 500 50% */
  --button-outline-secondary__border-color--hover: rgba(var(--pink-500-rgb), 1.0); /* material pink 500 100% */
  --button-outline-secondary__background-color--hover: rgba(var(--pink-500-rgb), 0.2); /* material pink 500 20% */
  --button-outline-secondary__background-color--selected: rgba(var(--pink-500-rgb), 0.1); /* material pink 500 10% */

  --button-outline__border-color--disabled: rgba(var(--black-rgb), 0.26);
  --button-outline__color--disabled: rgba(var(--black-rgb), 0.26);

  /*
  Icon buttons
   */
  --button-icon__color: var(--grey-800); /* material grey 800 */
  --button-icon__background-color--hover: rgba(var(--grey-500-rgb), 0.3); /* material grey 500 30% */
  --button-icon__background-color--selected: rgba(var(--grey-500-rgb), 0.2); /* material grey 500 20% */

  --button-icon-primary__color: var(--blue-500); /* material blue 500  */
  --button-icon-primary__background-color--hover: rgba(var(--blue-500-rgb), 0.2); /* material blue 500 20% */
  --button-icon-primary__background-color--selected: rgba(var(--blue-500-rgb), 0.1); /* material blue 500 10% */

  --button-icon-secondary__color: var(--pink-500); /* material pink 500  */
  --button-icon-secondary__background-color--hover: rgba(var(--pink-500-rgb), 0.2); /* material pink 500 20% */
  --button-icon-secondary__background-color--selected: rgba(var(--pink-500-rgb), 0.1); /* material pink 500 10% */

  --button-icon-green__color: var(--green-500); /* material green 500  */
  --button-icon-green__background-color--hover: rgba(var(--green-500-rgb), 0.2); /* material green 500 20% */
  --button-icon-green__background-color--selected: rgba(var(--green-500-rgb), 0.1); /* material green 500 10% */

  --button-icon__color--disabled: rgba(var(--black-rgb), 0.26);

  /*
  Contained buttons
   */
  --button-contained__color: var(--grey-800); /* material grey 800 */
  --button-contained__background-color: var(--grey-300); /* material grey 300 */
  --button-contained__background-color--hover: var(--grey-200); /* material grey 200 */
  --button-contained__background-color--selected:var(--grey-400); /* material grey 400 */

  --button-contained-primary__color: var(--white);
  --button-contained-primary__background-color: var(--blue-500); /* material blue 500  */
  --button-contained-primary__background-color--hover: var(--blue-400); /* material blue 400  */
  --button-contained-primary__background-color--selected: var(--blue-600); /* material blue 600 */

  --button-contained-secondary__color: var(--white);
  --button-contained-secondary__background-color: var(--pink-500); /* material pink 500  */
  --button-contained-secondary__background-color--hover: var(--pink-400); /* material pink 400  */
  --button-contained-secondary__background-color--selected: var(--pink-600); /* material pink 600 */

  --button-contained-green__color: var(--white);
  --button-contained-green__background-color: var(--green-500); /* material green 500  */
  --button-contained-green__background-color--hover: var(--green-400); /* material green 400  */
  --button-contained-green__background-color--selected: var(--green-600); /* material green 600 */

  --button-contained__color--disabled: rgba(var(--black-rgb), 0.26);
  --button-contained__background-color--disabled: rgba(var(--black-rgb), 0.12);

  /*
  Ripple effect
   */
  --ripple__background-color: rgba(var(--black-rgb), 0.1);
  
  
  

}

.stroom-theme-dark {
  /*
  Default buttons
   */
  --button-default__color: var(--grey-300); /* material grey 300  */
  --button-default__background-color--hover: rgba(var(--grey-300-rgb), 0.4); /* material grey 300 40% */
  --button-default__background-color--selected: rgba(var(--grey-300-rgb), 0.3); /* material grey 300 30% */

  --button-default-primary__color: var(--blue-300); /* material blue 300 */
  --button-default-primary__background-color--hover: rgba(var(--blue-300-rgb), 0.4); /* material blue 300 40% */
  --button-default-primary__background-color--selected: rgba(var(--blue-300-rgb), 0.3); /* material blue 300 30% */

  --button-default-secondary__color: var(--pink-300); /* material pink 300 */
  --button-default-secondary__background-color--hover: rgba(var(--pink-300-rgb), 0.4); /* material pink 300 40% */
  --button-default-secondary__background-color--selected: rgba(var(--pink-300-rgb), 0.3); /* material pink 300 30% */

  --button-default__color--disabled: rgba(var(--white-rgb), 0.26);

  /*
  Outline buttons
   */
  --button-outline__color: var(--grey-300); /* material grey 300  */
  --button-outline__border-color: rgba(var(--grey-300-rgb), 0.8); /* material grey 300 80% */
  --button-outline__border-color--hover: var(--grey-300); /* material grey 300  */
  --button-outline__background-color--hover: rgba(var(--grey-300-rgb), 0.4); /* material grey 300 40% */
  --button-outline__background-color--selected: rgba(var(--grey-300-rgb), 0.3); /* material grey 300 30% */

  --button-outline-primary__color: var(--blue-300); /* material blue 300 */
  --button-outline-primary__border-color: rgba(var(--blue-300-rgb), 0.8); /* material blue 300 80% */
  --button-outline-primary__border-color--hover: var(--blue-300); /* material blue 300 */
  --button-outline-primary__background-color--hover: rgba(var(--blue-300-rgb), 0.4); /* material blue 300 40% */
  --button-outline-primary__background-color--selected: rgba(var(--blue-300-rgb), 0.3); /* material blue 300 30% */

  --button-outline-secondary__color: var(--pink-300); /* material pink 300 */
  --button-outline-secondary__border-color: rgba(var(--pink-300-rgb), 0.8); /* material pink 300 80% */
  --button-outline-secondary__border-color--hover: var(--pink-300); /* material pink 300 */
  --button-outline-secondary__background-color--hover: rgba(var(--pink-300-rgb), 0.4); /* material pink 300 40% */
  --button-outline-secondary__background-color--selected: rgba(var(--pink-300-rgb), 0.3); /* material pink 300 30% */

  --button-outline__color--disabled: rgba(var(--white-rgb), 0.26);
  --button-outline__border-color--disabled: rgba(var(--white-rgb), 0.26);

  /*
  Icon buttons
   */
  --button-icon__color: var(--grey-300); /* material grey 300  */
  --button-icon__background-color--hover: rgba(var(--grey-300-rgb), 0.4); /* material grey 300 40% */
  --button-icon__background-color--selected: rgba(var(--grey-300-rgb), 0.3); /* material grey 300 30% */

  --button-icon-primary__color: var(--blue-300); /* material blue 300 */
  --button-icon-primary__background-color--hover: rgba(var(--blue-300-rgb), 0.4); /* material blue 300 40% */
  --button-icon-primary__background-color--selected: rgba(var(--blue-300-rgb), 0.3); /* material blue 300 30% */

  --button-icon-secondary__color: var(--pink-300); /* material pink 300 */
  --button-icon-secondary__background-color--hover: rgba(var(--pink-300-rgb), 0.4); /* material pink 300 40% */
  --button-icon-secondary__background-color--selected: rgba(var(--pink-300-rgb), 0.3); /* material pink 300 30% */

  --button-icon__color--disabled: rgba(var(--white-rgb), 0.26);

  /*
  Contained buttons
   */
  --button-contained__color: var(--grey-300); /* material grey 300 */
  --button-contained__background-color: #373c47; /*var(--grey-800); /* material grey 800 */
  --button-contained__background-color--hover: #414754; /*var(--grey-700); /* material grey 700 */
  --button-contained__background-color--selected: #323742; /*var(--grey-900); /* material grey 900 */

  --button-contained-primary__color: var(--white);
  --button-contained-primary__background-color: var(--blue-700); /* material blue 700 */
  --button-contained-primary__background-color--hover: var(--blue-600); /* material blue 600 */
  --button-contained-primary__background-color--selected: var(--blue-900); /* material blue 900 */

  --button-contained-secondary__color: var(--white);
  --button-contained-secondary__background-color: var(--pink-800); /* material pink 800  */
  --button-contained-secondary__background-color--hover: var(--pink-700); /* material pink 700  */
  --button-contained-secondary__background-color--selected: var(--pink-900); /* material pink 900 */

  --button-contained__color--disabled: rgba(var(--white-rgb), 0.26);
  --button-contained__background-color--disabled: rgba(var(--white-rgb), 0.12);

  /*
  Ripple effect
   */
  --ripple__background-color: rgba(var(--white-rgb), 0.3);
}