.passwordPolicyMessage {
    display: block;
    margin-top: .25rem;
    color: #6c757d !important;
    font-size: 80%;
    width: 300px;
}

.passwordTextBoxOuter {
    position: relative;
}

.passwordTextBox,
.confirmPasswordTextBox {
    width: 100%;
}

.passwordTextBox {
    padding-right: 4.5rem;
}

.confirmPasswordTextBox {
    padding-right: 1.6rem;
}

.passwordTextBoxOverlay,
.confirmPasswordTextBoxOverlay {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 4px;
    gap: 4px;
}

.passwordTextBoxOverlay .icon-button .face,
.confirmPasswordTextBoxOverlay .icon-button .face {
    color: var(--text-color);
}

.showPassword {

}

.passwordFeedback {
    display: block;
    width: 100%;
    margin-top: .25rem;
    font-size: 80%;
    min-height: 16px;
    color: var(--feedback);
}

.strength-meter {
    position: relative;
    height: 3px;
    background: rgba(0, 0, 0, 0.3);
    margin: 7px 0;
    border-radius: 2px;
}

.strength-meter .strength-meter-bar {
    width: 0%;
    height: 100%;
    transition: width 0.5s ease-in-out, background 0.25s;
}

.strength-meter .strength-meter-bar.strength-meter-1 {
    background-color: rgb(229, 57, 53);
    width: 20%;
}
.strength-meter .strength-meter-bar.strength-meter-2 {
    background-color: rgb(244, 81, 30);
    width: 40%;
}
.strength-meter .strength-meter-bar.strength-meter-3 {
    background-color: rgb(251, 140, 0);
    width: 60%;
}
.strength-meter .strength-meter-bar.strength-meter-4 {
    background-color: rgb(255, 179, 0);
    width: 80%;
}
.strength-meter .strength-meter-bar.strength-meter-5 {
    background-color: rgb(40, 167, 69);
    width: 100%;
}

.badge-pill {
  padding-right: 0.6em;
  padding-left: 0.6em;
  border-radius: 10rem;
}
