.flatButton {
    border: none;
    background: none;
}

.itemSelectionViewImpl-panelChild {
}

.itemSelectionViewImpl-countLabel {
    padding-left: 6px;
}

.itemSelectionViewImpl-flowPanel {
    display: flex;
}

.ruleView-bottom {
    padding-top: 5px;
}
/*
.ruleView-name {
    display: inline-block;
}

.ruleView-optional {
    display: inline-block;
    margin-left: 5px;
}
*/
.elasticFieldListView-statusMessage {
    padding: 5px;
}

.button-container {
    display: flex;
    align-items: center;
    margin: 2px;

    /*
    white-space: nowrap;
    align-items: center;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: flex-start;

    display: inline-flex;
    flex-wrap: wrap;
    gap: 2px;
    padding: 2px;*/
}

.contextMenu-layout {
	cursor: pointer;
}

.contextMenu-selected {
    background: #93c2f1;
}

.contextMenu-text {
	margin: 1px;
	padding: 2px;
	background: transparent;
	cursor: pointer;
}

.contextMenu-separator {
	width: 100%;
	height: 1px;
	background-color: black;
}

.menuItem-separator {
    margin-left: 2px;
    margin-right: 2px;
	border-top: 1px solid var(--menu-separator-color);
	cursor: default;
}

.menuItem-groupHeading {
	padding: 6px 0 3px 6px;
	opacity: 0.8;
	font-size: var(--font-size-13);
	text-transform: uppercase;
	display: block;
	cursor: default;
}

.menuItem-outer {
    min-width: 180px;
    border: 1px solid transparent;
    border-radius: .2rem;
    display: flex;
    align-items: center;
    padding: var(--vertical-padding) var(--horizontal-padding);
    gap: var(--horizontal-padding);
}

.cellTableSelectedRow .menuItem-outer {
    background-color: var(--selected-row-background-color);
    color: var(--selected-row-text-color);
}

.cellTableRow:focus-within .menuItem-outer {
    border-color: var(--focussed-row-border-color);
}

.cellTableSelectedRow:focus-within .menuItem-outer {
    background-color: var(--selected-row-background-color);
    color: var(--selected-row-text-color);
    border-color: var(--focussed-row-border-color);
}

.menuItem-highlight {
	background-color: var(--code-editor-highlight-background-color);
	color: var(--selected-row-text-color);
}

.menuItem-icon {
	display: flex;
}

.menuItem-disabled {
	cursor: default;
	opacity: 0.4;
}

.menuItem-text {
}

.menuItem-simpleText {
	display: inline-block;
	vertical-align: top;
	padding-top: 1px;
	margin-left: 5px;
	margin-right: 5px;
}

.menuItem-shortcut {
    padding-left: 15px;
    white-space: nowrap;
    text-align: right;
    flex-grow: 1;
}

.basicTabSelector {
    position: absolute;
    left: 0;
    top: 0;
    cursor: pointer;
    display: flex;
    height: 34px;
    border: none;
    border-radius: .25rem;
    border: 1px solid transparent;
    background-color: transparent;
    color: var(--control__text-color);
    padding: 1px;
}

.basicTabSelector-arrows {
    display: flex;
}

.basicTabSelector-arrows svg {
    width: 11px;
    height: 9px;
}

.basicTabSelector-text {
    font-size: var(--font-size-7);
    white-space: nowrap;
    margin-left: 2px;
    margin-top: 6px;
    -moz-user-select: none;
}

.curveTabBar {
    position: relative;
    width: 100%;
    height: 100%;
    margin: 4px;
}

.curveTab {
    position: absolute;
    left: 0;
    top: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    height: 34px;
    border: none;
    border-radius: .25rem;
    border: 1px solid transparent;
    background-color: transparent;
    color: var(--control__text-color);
}

.curveTab:hover {
    border-color: rgba(255,255,255,.5);
}

.curveTab-selected {
    border-color: rgba(255,255,255,.8);
}

.curveTab-selected:hover {
    border-color: rgba(255,255,255,1);
}

/*
.curveTabBar:focus .curveTab-keyboardSelected {
    border-color: rgba(255,255,255,1);
}
*/
.curveTab-keyboardSelected:focus {
    border-color: rgba(255,255,255,1);
}

.curveTab .curveTab-background {
	position: absolute;
	left: 0;
	top: 0;
	opacity: 0;
	height: 100%;
	width: 100%;
	overflow: hidden;
	background-color: rgba(255,255,255,.2);
}



.curveTab-selected .curveTab-background {
	opacity: .8;
}

.curveTab:hover .curveTab-background {
	opacity: .9;
}

.curveTab-selected:hover .curveTab-background {
	opacity: 1;
}

/* Tab content */
.curveTab .curveTab-icon {
    position: relative;
    width: 18px;
    height: 18px;
    -moz-user-select: none;
    margin: 0 5px 0 5px;
}

.curveTab .curveTab-face {
	border: none;
	outline: none;
	background: none;
	cursor: pointer;
	text-decoration: none;
	min-width: 16px;
	min-height: 16px;
	margin: auto;
	padding: 0;
	overflow: hidden;
	position: relative;
	color: #5398ff;
	font-size: var(--font-size-16);
	opacity: 1;
}

.curveTab .curveTab-text {
    position: relative;
    white-space: nowrap;
    padding: 1px 1px 1px 1px;
    -moz-user-select: none;
    opacity: 0.8;
}

.curveTab-selected .curveTab-text {
	opacity: 1;
}

/* Close button */
/*
.curveTab .curveTab-close {
    background-image: url("../images/tabs/close.png");
    width: 12px;
    height: 12px;
    -moz-user-select: none;
    cursor: pointer;
    margin: 2px 6px 0 4px;
    z-index: 0;
    background-repeat: no-repeat;
}
*/
.curveTab .curveTab-close {
    display: flex;
}

.curveTab .curveTab-close svg {
    width: 17px;
    height: 17px;
    cursor: pointer;
    margin: 0px 6px 0 4px;
    z-index: 0;
    color: #aaa;
}

.curveTab .curveTab-closeActive svg {
    color: #fff;
}

.curveTabSelector {
    position: absolute;
    left: 0;
    top: 0;
    cursor: pointer;
    display: flex;
    height: 34px;
    border: none;
    border-radius: .25rem;
    border: 1px solid transparent;
    background-color: transparent;
    color: var(--control__text-color);
    padding: 6px;
}

.curveTabSelector .curveTabSelector-background {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background-color: rgba(255,255,255,.2);
}

.curveTabSelector:hover {
    border-color: rgba(255,255,255,.5);
}

.curveTabSelector:hover .curveTabSelector-background {
	opacity: .9;
}

/*
.curveTabBar:focus .curveTabSelector-keyboardSelected {
    border-color: rgba(255,255,255,1);
}
*/
.curveTabSelector-keyboardSelected:focus {
    border-color: rgba(255,255,255,1);
}

/* Content. */
.curveTabSelector .curveTabSelector-arrows {
    display: flex;
}

.curveTabSelector .curveTabSelector-arrows svg {
    width: 11px;
    height: 9px;
}

.curveTabSelector .curveTabSelector-text {
    font-size: var(--font-size-7);
    white-space: nowrap;
    margin-left: 4px;
    margin-top: 9px;
    -moz-user-select: none;
}

.layerContainer-container {
	position: relative;
	width: 100%;
	height: 100%;
}

.layerContainer-layer {
	position: absolute !important;
	left: 0 !important;
	top: 0 !important;
    width: 100%;
    height: 100%;
}

.linkTabBar {
    position: relative;
	white-space: nowrap;
	padding-top: 1px;
}

.linkTabBar-hiddenText {
    display: inline;
    opacity: 0;
}

.linkTabBar .linkTabBar-separator {
	position: absolute;
	top: 0;
	padding-left: 5px;
	padding-right: 5px;
}


.linkTab {
	position: absolute;
	left: 0;
	top: 0;
	cursor: pointer;
    opacity: 0.8;
    transition: opacity 0.5s linear;
    -webkit-transition: opacity 0.5s linear;
    -moz-transition: opacity 0.5s linear;
    -o-transition: opacity 0.5s linear;
}

.linkTab-selected {
    opacity: 1;
}

.linkTab-keyboardSelected {
    opacity: 1;
}

/*
.linkTabBar:focus .linkTab-keyboardSelected {
    color: #fff;
}
*/
.linkTab-keyboardSelected:focus {
    color: #fff;
}

.linkTab:hover {
    opacity: 1;
    text-decoration: underline;
}

.linkTab-background {
	cursor: pointer;
	white-space: nowrap;
	font-weight: 500;
	opacity: 0;
}

.linkTab-label {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	cursor: pointer;
	text-decoration: inherit;
	white-space: nowrap;
}

.linkTab-selected .linkTab-label {
	font-weight: 600;
}

.linkTab .linkTab-hotspot {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: 0;
	padding: 0;
	border-width: 1px;
	border-color: black;
	border-style: solid;
	background-color: red;
	opacity: 0;

	transition: opacity .2s;
	-webkit-transition: opacity .2s;
	-moz-transition: opacity .2s;
	-o-transition: opacity .2s;

	cursor: pointer;
}

.linkTab .linkTab-hotspotVisible {
	opacity: .3 !important;
}

.tooltip {
	background-color: var(--tooltip-background-color);
	padding: 1px 3px;
	-moz-user-focus: initial;
	-moz-user-input: initial;
	-webkit-user-focus: initial;
	-webkit-user-input: initial;
	user-focus: initial;
	user-input: initial;

  	-webkit-user-select: text;
  	-moz-user-select: text;
  	user-select: text;

  	max-width: 500px;
  	max-height: 500px;
  	overflow: auto;
}

.tooltip table {
    white-space: pre;
    table-layout: fixed;
}

.info-layout {
	width: 100%;
	height: 100%;
	border: 1px solid var(--border-color);
	background: var(--control__background-color);
	color: var(--control__text-color);
	white-space: pre;
}

.userTaskView-layout {
    position: relative;
    width: 100%;
    padding: 2px;
    border: 1px solid grey;
}

.userTaskView-terminate {
    vertical-align: middle;
    padding: 3px;
    padding-bottom: 0;
    background-image: url("../images/terminate.png");
    width: 11px;
    height: 11px;
}

.entityTreeView-nameFilter {
    width: 100%;
    border: none !important;
    background: var(--control__background-color);
    color: var(--control__text-color);
}

.entityTreeView-nameFilter input[type="text"] {
    border: none !important;
    border-bottom: 1px solid var(--border-color) !important;
}

.entityTreeView-scrollPanel {
    background: var(--control__background-color);
}

.dropDownView-container {
    position: relative;
    width: 200px;
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 3px 5px;
	border-radius: 2px;
	background-color: var(--control__background-color);
	color: var(--control__text-color);
    cursor: pointer;
}

.dropDownView-label {
    overflow: hidden;
    white-space: nowrap;
}

.dropDownView-button {
    position: absolute;
    background-image: url("../images/ellipses-grey.svg");
	background-size: contain;
	background-color: transparent;
    bottom: 0;
    right: 4px;
	width: 15px;
	height: 15px;
    cursor: pointer;
    border: none;
}

.stroom-theme-dark .dropDownView-button,
.stroom-theme-dark2 .dropDownView-button {
	background-image: url("../images/ellipses-grey-dark.svg");
}

.tabBarContainer {
    display: flex;
}

.curveTabLayoutViewImpl-layout {
    position: relative;
    width: 100%;
    height: 100%;
}

.curveTabLayoutViewImpl-layerContainerOuter {
    position: absolute;
    left: 0;
    right: 0;
    top: 42px;
    bottom: 0;
}

.curveTabLayoutViewImpl-tabBarOuter {
    height: 42px;
    margin-right: 42px;
    flex-grow: 1;
}

.tabBarContainer .navigation-menu-button {
    display: none;
}

.maximised .tabBarContainer .navigation-menu-button {
    display: initial;
}

.documentPermissionsViewImpl-cascade {
    margin-top: 5px;
}

.documentPermissionsViewImpl-copyPermissionsFromParentButton {
    width: 259px;
}

.globalPropertyTabViewImpl-nameFilter {
    width: 100%;
    border-bottom: none !important;
}

.pipelineStructureViewImpl-buttons {
    position: relative;
	top: -1px;
}

.pipelineStructureViewImpl-label {
    margin-top: 2px;
    vertical-align: top;
    white-space: nowrap;
}

.pipelineStructureViewImpl-bar {
    position: relative;
    padding: 0 4px;
	display: flex;
	align-items: center;
	flex-direction: row;
}

.pipelineStructureViewImpl-bar div {
    white-space: nowrap;
}

.pipelineStructureViewImpl-treeContainer {
	padding: 10px 5px;
}


.pipelineStructureViewImpl-label {
	margin: 0 10px 0 15px;
}

.pipelineStructureViewImpl-viewSource {
    margin-left: auto;
    text-decoration: underline;
}

.pipelineStructureViewImpl-property-added {
    font-weight: 600;
}

.pipelineStructureViewImpl-property-removed {
    font-weight: 600;
    text-decoration: line-through;
}

.pipelineStructureViewImpl-property-inherited {
}

.pipelineStructureViewImpl-property-default {
    opacity: 0.5;
}





.sourceViewImpl-buttonPanel {
    float: right;
    padding-right: 0.25em;
}

.sourceViewImpl-characterNavigator {
}

.sourceViewImpl-titleText {
    display: inline-block;
    padding-top: 3px;
    padding-left: 0.5em;
    padding-right: 0.5em;
}

.sourceViewImpl-titleHeading {
    display: inline-block;
    padding-top: 3px;
    padding-left: 0.5em;
    font-weight: 500;
}

.sourceViewImpl-progressBarPanel {
    display: inline-block;
    width: 100%;
    height: 6px;
    padding-right: 0.25em;
    padding-left: 0.25em;
}

.editExpressionViewImpl-expressionTree {
    width: 100%;
    height: 100%;
    padding-left: 5px;
}

.pager-paging {
    position: relative;
    text-align: right;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
    justify-content: flex-end;
}

.pager-label {
    display: inline-block;
    margin: 0;
    cursor: pointer;
}

.pager-textBox {
    display: inline-block;
    width: 30px;
    height: 14px;
    padding: 0;
    margin: 0;
    margin-top: 2px;
    border: none;
}

.pager-space {
    display: inline;
    width: 8px;
}

.pager-button {
    padding: 1px;
    text-align: center;
}

.dashboardMainViewImpl-root {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.dashboardMainViewImpl-contentPanel {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-image: linear-gradient(rgb(244, 248, 253) 0, rgb(222, 234, 248) 36px);
    background-color: rgb(223, 234, 248);
}

.ruleViewImpl-bottom {
    padding-top: 5px;
}

.ruleViewImpl-name {
    display: inline-block;
}

.ruleViewImpl-optional {
    display: inline-block;
    margin-left: 5px;
}

.linkEventViewImpl-data {
    margin-left: 3px;
}

.queryViewImpl-expressionTree {
    padding-left: 5px;
}

.copyDocumentViewImpl-label {
    margin-top: 2px;
}

.copyDocumentViewImpl-foldersOuter {
    margin-bottom: 5px;
}

.selectionHandlerViewImpl-bottom {
    padding-top: 5px;
}

.dataViewImpl-tabBarOuter {
    overflow: hidden;
    flex-shrink: 1;
    padding-left: 5px;
}

.dataViewImpl-tabBarInner {
    position: relative;
}

.dataViewImpl-rightPanel {
    display: flex;
    flex-shrink: 0;
    justify-content: flex-end;
    padding-right: 0.25em;
    padding-top: 1px;
}

.dataViewImpl-navigatorContainer {
    float: left;
}

.dataViewImpl-progressBarPanel {
    width: 100%;
    height: 6px;
    padding-right: 0.25em;
    padding-left: 0.25em;
}

/*
.dataViewImpl-layerContainer {
    position: relative;
}
*/

.dataViewImpl-sourceLinkLabel {
    margin: 0;
    cursor: pointer;
    padding-left: 0.75em;
    padding-right: 0.75em;
}

.dataViewImpl-sourceLinkLabel:hover {
    text-decoration: underline;
}

.classificationLabel {
    font-weight: 500;
    text-align: center;
    vertical-align: middle;
    background-color: #888888;
    overflow: hidden;
    white-space: nowrap;
}

.queryHistoryViewImpl-cellList {
    position: absolute;
    min-width: 100%;
}

.dataRetentionRuleViewImpl {
}

.dataRetentionRuleViewImpl-bottom {
    padding-top: 5px;
}

.dataRetentionRuleViewImpl-name {
    display: inline-block;
}

.dataRetentionRuleViewImpl-optional {
    display: inline-block;
    margin-left: 5px;
}

.resizableAcceptRejectContent-button {
    margin: 0;
    padding: 2px 4px;
    width: 100px;
    text-decoration: none;
    cursor: pointer;
    cursor: hand;
    border: 1px solid #918e8c;
    border-radius: 6px;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.3);
    white-space: nowrap;
    background-color: #2962ff;
    border-color: #2979ff;
    color: white;
}
.resizableAcceptRejectContent-button:active {
    border: 1px solid #5b7aa1 !important;
    background-color: #2979ff !important;
}
.resizableAcceptRejectContent-button:hover {
    border: 1px solid #5b7aa1 !important;
    background-color: #2979ff !important;
}
.resizableAcceptRejectContent-button[disabled] {
    cursor: default;
    background-color: #bdbdbd;
    color: #fafafa;
}
.resizableAcceptRejectContent-button[disabled]:hover {
    cursor: default;
    background-color: #bdbdbd;
    color: #fafafa;
}


.resizableAcceptRejectContent-accept {
    background-color: #388e3c;
    border-color: #2e7d32;
}
.resizableAcceptRejectContent-accept:active {
    background-color: #43a047 !important;
    border-color: #388e3c !important;
}
.resizableAcceptRejectContent-accept:hover {
    background-color: #43a047 !important;
    border-color: #388e3c !important;
}
.resizableAcceptRejectContent-accept[disabled] {
    border: 1px solid #bdbdbd !important;
    box-shadow: none !important;
    background-color: #bdbdbd !important;
    color: #fafafa !important;
}
.resizableAcceptRejectContent-accept[disabled]:hover {
    border: 1px solid #bdbdbd !important;
    box-shadow: none !important;
    background-color: #bdbdbd !important;
    color: #fafafa !important;
}

.resizableAcceptRejectContent-reject {
    background-color: #d50000;
    border-color: #b71c1c;
}
.resizableAcceptRejectContent-reject:active {
    background-color: #e53935 !important;
    border-color: #d50000 !important;
}
.resizableAcceptRejectContent-reject:hover {
    background-color: #e53935 !important;
    border-color: #d50000 !important;
}
.resizableAcceptRejectContent-reject[disabled] {
    border: 1px solid #bdbdbd !important;
    box-shadow: none !important;
    background-color: #bdbdbd !important;
    color: #fafafa !important;
}
.resizableAcceptRejectContent-reject[disabled]:hover {
    border: 1px solid #bdbdbd !important;
    box-shadow: none !important;
    background-color: #bdbdbd !important;
    color: #fafafa !important;
}

.dataNavigator {
    position: relative;
    text-align: right;
}

.dataNavigator-label {
    display: inline-block;
    margin: 0;
    margin-top: 2px;
    cursor: pointer;
    padding-left: 0.75em;
    padding-right: 0.75em;
}

.dataNavigator-label:hover {
    text-decoration: underline;
}

.dataNavigator-button {
    padding: 1px;
    text-align: center;
}

.aboutViewImpl-layout {
    width: 500px;
    height: 288px;
    display: flex;
    flex-direction: column;
    margin: -8px -8px 0 -8px;
}

.aboutViewImpl-stroom-body {
    height: 50px;
    display: flex;
    align-items: center;
}

.aboutViewImpl-stroom-background {
    position: absolute;
    width: 500px;
    height: 30px;
}

.aboutViewImpl-body {
    padding: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--main-background-color);
}

.aboutViewImpl-buildInfo {
    display: flex;
    justify-content: flex-end;
}

.characterRangeSelectionViewImpl-lineColInput {
    width: 120px;
}
.characterRangeSelectionViewImpl-offsetSpinner {
    width: 120px;
}
.characterRangeSelectionViewImpl-charSpinner {
    width: 120px;
}
.characterRangeSelectionViewImpl tr.headingRow>td {
    font-weight: bold !important;
}
.characterRangeSelectionViewImpl tr.paddedRow {
    height: 30px;
}
.characterRangeSelectionViewImpl-paddedCol {
    padding-left: 10px;
}
.characterRangeSelectionViewImpl-panelChild {
}
.characterRangeSelectionViewImpl-countLabel {
    padding-left: 6px;
}
.characterRangeSelectionViewImpl-flowPanel {
    display: flex;
}
.characterRangeSelectionViewImpl-flowPanel .lineColInput{
    width: 120px !important;
}
.characterRangeSelectionViewImpl-cell {
    padding-top: 4px;
}
.characterRangeSelectionViewImpl-infoLine {
    padding-bottom: 12px;
}

.dashboardViewImpl-content {
    position: relative;
}

.dashboardViewImpl-params {
    width: 100%;
    border: 1px solid #ddd;
}

.subStreamNavigator {
    position: relative;
    text-align: right;
}

.subStreamNavigator-label {
    display: inline-block;
    margin: 0;
    margin-top: 2px;
    cursor: pointer;
    padding-left: 0.75em;
    padding-right: 0.75em;
}

.subStreamNavigator-label:hover {
    text-decoration: underline;
}

.subStreamNavigator-button {
    padding: 1px;
    text-align: center;
}

.acceptRejectContent-button {
    margin: 0;
    padding: 3px 5px;
    text-decoration: none;
    font-size: var(--font-size-11);
    cursor: pointer;
    cursor: hand;
    background: blue;
    color: white;
    border: 1px outset #ccc;
}

.acceptRejectContent-button:active {
    border: 1px inset #ccc;
}

.acceptRejectContent-button:hover {
    border-color: #9cf #69e #69e #7af;
}

.acceptRejectContent-button[disabled] {
    cursor: default;
    background-color: grey;
    color: white;
}

.acceptRejectContent-button[disabled]:hover {
    cursor: default;
    background-color: grey;
    color: white;
}

.acceptRejectContent-accept {
    background-color: green;
}

.acceptRejectContent-reject {
    background-color: red;
}

.itemNavigator {
    display: flex;
}

.itemNavigator-label {
    margin: 0px;
    cursor: pointer;
    padding-left: 0.75em;
    padding-right: 0.75em;
    display: flex;
}

.itemNavigator-label:hover {
    text-decoration: underline;
}

.itemNavigator-button {
    padding: 1px;
    text-align: center;
    display: flex;
    float: left;
}

.globalPropertyEditViewImpl-textArea {
    width:100%;
    height:80px;
}
.globalPropertyEditViewImpl-textAreaReducedHeight {
    width:100%;
    height:50px;
}

.linkTabPanelViewImpl {
    display: flex;
    align-items: center;
    gap: 10px;
}

.linkTabPanelViewImpl-left {
    flex-grow: 0;
}

.linkTabPanelViewImpl-middle {
    flex-grow: 1;
}

.linkTabPanelViewImpl-right {
    display: flex;
    justify-content: flex-end;
    flex-grow: 0;
}

.queryFavouritesViewImpl-cellList {
    position: absolute;
    min-width: 100%;
}

.okCancelContent-cancel {
}

.editExpressionViewImpl-expressionTree {
    padding-left: 5px;
}

.expressionViewImpl-button {
    float: left;
}

.expressionViewImpl-resizePanel {
    display: block;
}

.expressionViewImpl-editorContainer {
    border: 1px solid var(--control__border-color);
    background-color: var(--control__background-color);
}

.expressionViewImpl-completionLabel {
    float: left;
}

.expressionViewImpl-labelPanel {
    float: right;
}

.expressionViewImpl-btnPanel {
    float: left;
}

.characterNavigator {
    display: flex;
    justify-content: space-between;
}

.characterNavigator-labels {
}

.characterNavigator-label {
    display: inline-block;
    margin: 0px;
    margin-top: 2px;
    cursor: pointer;
    padding-left: 0.75em;
    padding-right: 0.75em;
}

.characterNavigator-label:hover {
    text-decoration: underline;
}

.characterNavigator-button {
    padding: 1px;
    text-align: center;
}

.resizableOkCancelContent-cancel {
}

.userListViewImpl-nameFilter {
    border-bottom: none !important;
}

.createDocumentViewImpl-label {
    margin-top: 2px;
}

.createDocumentViewImpl-foldersOuter {
    margin-bottom: 5px;
}

.mainViewImpl-max {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    overflow: hidden;
	display: flex;
	flex-direction: column;
}

.mainViewImpl-banner {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    height: 20px;
    overflow: hidden;
    text-align: center;
    font-weight: 500;
    background-color: yellow;
    border: 1px solid black;
    padding: 1px;
}

/*
.mainViewImpl-topPanel {

}

.mainViewImpl-bottomPanel {
	overflow: hidden;
	flex-grow: 1;
}
*/

.mainViewImpl-contentPanel {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.mainViewImpl-spinner {
    position: absolute;
    top: 2px;
    right: 2px;
    width: 32px;
    height: 32px;
    z-index: 1;
}

.userTaskManagerViewImpl-layout {
    width: 400px;
    height: 200px;
}

.progressViewImpl-progressBarContainer {
    position: relative;
}

.progressViewImpl-progressBarOuter {
    position: absolute;
    background-color: var(--control__background-color);
    width: 100%;
    height: 6px;
    border-style: solid;
    border-width: 1px;
    border-color: var(--control__border-color);
}

.progressViewImpl-progressBarInner {
    position: absolute;
    background-color: #1e88e5;
    height: 4px;
}

.moveDocumentViewImpl-label {
    margin-top: 2px;
}

.moveDocumentViewImpl-foldersOuter {
    margin-bottom: 5px;
}

.solrIndexFieldListViewImpl-synchState {
    padding: 5px;
}

.taskManangerViewImpl-nameFilter {
    width: 100%;
}

.solrIndexSettingsViewImpl-label {
    width: 110px;
    margin-top: 2px;
    vertical-align: top;
    white-space: nowrap;
}

.elasticIndexSettingsViewImpl-label {
    width: 110px;
    margin-top: 2px;
    vertical-align: top;
    white-space: nowrap;
}

.dataRetentionViewImpl-tabBarOuter {
    padding-left: 10px;
    padding-right: 3px;
    padding-top: 1px;
}

.dataRetentionViewImpl-tabBarInner {
    position: relative;
}

.importConfigViewImpl-label {
    float: left;
    width: 100px;
    clear: left;
}

.dropDownTreeViewImpl-nameFilter {
    width: 100%;
    border: none;
    border-bottom: 1px solid var(--border-color);
}

.welcomeViewImpl-body {
    padding: 5px !important;
}

.welcomeViewImpl-buildInfo {
    position: absolute;
    right: 5px;
    bottom: 5px;
}

.manageActivityViewImpl-nameFilter {
    width: 100%;
    border-bottom: none !important;
}

.splashViewImpl-content {
    padding: 5px;
}

.explorerTreeViewImpl-bar div {
    display: inline-block;
    white-space: nowrap;
}

.explorerTreeViewImpl-nameFilter {
    border: none !important;
}

.chooserViewImpl-container {
    display: flex;
    flex-flow: column;
}

.chooserViewImpl-top {
    flex-shrink: 0;
    margin: 5px;
}

.chooserViewImpl-bottom {
    flex-grow: 1;
    max-height: 400px;
    max-width: 390px;
    overflow-x: hidden;
    overflow-y: auto;
}

.chooserViewImpl-nameFilter {
}

.chooserViewImpl-clearSelection {
    display: none;
    color: #0366d6;
    cursor: pointer;
    text-decoration: underline;
    padding: 6px 8px;
}

.steppingFilterViewImpl {
    min-width: 400px;
    min-height: 400px;
}

.stepLocationViewImpl-left {
}

.stepLocationViewImpl-right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;
}

.stepLocationViewImpl-layout {
    white-space: nowrap;
}

.stepLocationViewImpl-html {
    display: inline-block;
}

.stepLocationViewImpl-label {
    display: inline-block;
    cursor: pointer;
}

.stepLocationViewImpl-textBox {
    display: inline-block;
    width: 30px;
    height: 14px;
    padding: 0px;
    margin: 0px;
    border: none;
}

.dictionarySettingsViewImpl-label {
    width: 110px;
    margin-top: 2px;
    vertical-align: top;
    white-space: nowrap;
}

.dependenciesTabViewImpl-quickFilter {
    width: 100%;
    border-bottom: none !important;
}

.exportConfigViewImpl-label {
    margin-top: 2px;
}

.exportConfigViewImpl-filter {
    border-bottom: none !important;
}

.exportConfigViewImpl-nameFilter {
    border: none !important;
}

.infoMenuItem {
    cursor:default;
    color:#212121;
    background:linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.1));
    border: 1px solid gray;
}

.stroom-theme-dark .infoMenuItem {
	color: var(--text-color);
    border: 1px solid var(--dialog-border-color);
}

.preferencesViewImpl-buttons {
}

.preferencesViewImpl-buttons button {
    width: 250px;
    margin-right: 5px;
}

.default-min-sizes {
    min-width: 200px;
    min-height: 200px;
}

.large-min-sizes {
    min-width: 400px;
    min-height: 400px;
}

/*
.treePanel-panel {
    position: relative;
}

.treePanel-boxPanel {
    position: relative;
    top: 0;
    left: 0;
}

.treePanel-canvas {
    position: absolute;
    top: 0;
    left: 0;
}
*/

.focus-without-border {
    border: 1px solid transparent;
    border-radius: .2rem;
}

.focus-without-border:focus-visible:focus {
    border-color: var(--focussed-row-border-color);
}

.navigation {
   background-color: var(--navigation-background-color);
   color: var(--navigation-text-color);
}

.navigation-title-bar {
    display: flex;
    justify-content: space-between;
}

.navigation-logo {
    display: flex;
    flex-grow: 1;
    padding: 2px;
    margin: 2px;
    background-color: transparent;
    color: white;
}

.navigation-menu-content {
    display: flex;
    justify-content: space-between;
    align-content: space-between;
    align-items: center;
    flex-grow: 1;
}

.navigation-logo-image svg {
    width: 146px;
    height: 35px;
}

.navigation-arrow-image svg {
    width: 16px;
    height: 16px;
    margin-top: .25rem;
}

/*
.stroom-theme-dark .navigation-logo {
    background-image: url("../images/logo.svg");
}
*/

.navigation-menu-button {
    display: flex;
    flex-shrink: 0;
    padding: 8px;
    margin: 2px;
    background-color: transparent;
    color: white;
}

.navigation-menu-button svg {
    width: 24px;
    height: 24px;
}

/*
.stroom-theme-dark .navigation-menu-button {
    background-image: url("../images/menu-white.svg");
}
*/

.navigation-header {
    display: flex;
    padding: .2rem;
    align-items: center;
    justify-content: space-between;
}

.navigation-header:hover {
    background-color: var(--hovered-row-background-color);
}

.navigation-header-text {
    font-weight: 700;
    white-space: nowrap;
	text-overflow: ellipsis;
	overflow-x: hidden;
	flex-grow: 1;
	margin: .4rem;
}

.navigation-header-arrow {
    background-image: url("../images/arrow-right-white.svg");
    width: .9rem;
    height: .9rem;
    flex-shrink: 0;
    flex-grow: 0;
    margin: .4rem;
}

.navigation-header-arrow-open {
    background-image: url("../images/arrow-down-white.svg");
}

/*
.stroom-theme-dark .navigation-header-arrow,
.stroom-theme-dark2 .navigation-header-arrow {
    background-image: url("../images/arrow-right-white.svg");
}

.stroom-theme-dark .navigation-header-arrow-open,
.stroom-theme-dark2 .navigation-header-arrow-open {
    background-image: url("../images/arrow-down-white.svg");
}
*/

.navigation-body {
}

.navigation-body * {
    overflow: initial !important;
}

.navigation-list {
}

.navigation-item {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 2px 3px;
}

.navigation-item .svgIcon {
    margin: 0 2px 0 7px;
    flex-shrink: 0;
}

.navigation-item:hover {
    background-color: var(--hovered-row-background-color);
}

.navigation-header-buttons {
    flex-grow: 0;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    margin: 0.25rem;
    margin-top: 0;
    justify-content: flex-end;
}

.navigation-header-button {
}

.navigation-header-button-add {
    background-image: url("../images/add-white.svg");
}

.navigation-header-button-delete {
    background-image: url("../images/delete-white.svg");
}

.navigation-header-button-filter {
    background-image: url("../images/filter-white.svg");
}

/*
.stroom-theme-dark .navigation-header-button-add {
   background-image: url("../images/add-white.svg");
}

.stroom-theme-dark .navigation-header-button-delete {
   background-image: url("../images/delete-white.svg");
}

.stroom-theme-dark .navigation-header-button-filter {
   background-image: url("../images/filter-white.svg");
}
*/













.form-control {
  background-color: var(--control__background-color);
  border-color: var(--control__border-color);
  color: var(--control__text-color);
  border-radius: .25rem;
}

.form-control:disabled, .form-control[readonly] {
  background-color: var(--control__background-color);
  border-color: var(--control__border-color);
  color: var(--text-color-disabled);
}

.form-control.hide-background-image {
  background-image: none;
}

.form-control.no-icon-padding {
  padding-left: .75rem;
  padding-right: .75rem;
}

.form-control.left-icon-padding {
  padding-left: 1.6rem;
}

.form-control.right-icon-padding {
  padding-right: 1.6rem;
}

.form-control.length-indicator-padding {
  padding-right: 4.5rem;
}
