.editor,
.editor.ace_editor * {
    font-family: "Roboto Mono", Monaco, Menlo, "Ubuntu Mono", Consolas, source-code-pro, monospace, "Courier New";
}

.stroom-font-size-small .editor,
.stroom-font-size-small .editor * {
    font-size: 12px !important;
    line-height: 14px !important;
}

.stroom-font-size-medium .editor,
.stroom-font-size-medium .editor * {
    font-size: .875rem !important;
    line-height: 16px !important;
}

.stroom-font-size-large .editor,
.stroom-font-size-large .editor * {
    font-size: 1rem !important;
    line-height: 18px !important;
}

.editor.ace_editor {
    width: 100%;
    height: 100%;
}

.editor .hl {
    position: absolute;
	background-color: var(--code-editor__background-color--highlight);
}

.editor .err {
    position: absolute;
    border-bottom: 1px solid red;
    border-radius: 0;
}

.editor .ace_tooltip {
    background-color: var(--tooltip__background-color);
    color: var(--tooltip__text-color);
    background-image: none;
    border: none;
    border-radius: 4px;
    box-shadow: 0 0 5px 3px rgba(63, 63, 63, 0.5);
    font-family: var(--regular-font-family);
    font-size: var(--font-size-13);
    font-weight: 400;
    padding: 3px 5px 3px 5px;
  	-webkit-user-select: text;
  	-moz-user-select: text;
  	user-select: text;
    white-space: break-spaces;
    overflow: auto;
    max-width: 90%;
    max-height: 90%;
    line-height: 1.3em;
}

.stroom .ace_editor.ace_autocomplete {
    background-color: var(--tooltip__background-color);
    border: 1px solid var(--dialog__border-color);
    color: var(--tooltip__text-color);
    /* Ace's default of 300px is too small */
    width: 400px;
}

.stroom .ace_tooltip.ace_doc-tooltip {
    background-color: var(--tooltip__background-color) !important;
    background-image: none;
    border: 1px solid var(--dialog__border-color);
    color: var(--tooltip__text-color);
    width: 600px;
    overflow-wrap: anywhere;
}

.stroom .ace_tooltip.ace_doc-tooltip .queryHelpDetail {
    background-color: var(--tooltip__background-color) !important;
}

.stroom .ace_tooltip.ace_doc-tooltip .markdown {
    background-color: var(--tooltip__background-color);
}

.editor .ace_gutter-cell.stroom_info {
    background-image: url(../images/info.svg);
    background-size: 14px 14px;
    background-position-x: 3px;
}

.editor .ace_gutter-cell.stroom_warning {
    background-image: url(../images/alert.svg);
    background-size: 14px 14px;
    background-position-x: 3px;
}

.editor .ace_gutter-cell.stroom_error {
    background-image: url(../images/error.svg);
    background-size: 14px 14px;
    background-position-x: 3px;
}

.editor .ace_gutter-cell.stroom_fatal_error {
    background-image: url(../images/fatal.svg);
    background-size: 14px 14px;
    background-position-x: 3px;
}

.stroom-theme-dark .editor .ace_gutter-cell.stroom_fatal_error {
    background-image: url(../images/fatal-dark.svg);
    background-size: 14px 14px;
    background-position-x: 3px;
}

.editor-error {
    position: relative;
    background-color: #fdd835;
    padding: 10px;
    margin: auto;
    width: 80%;
    margin-top: 20px;
    border: 2px solid black;
    border-radius: 10px;
    color: black;
    overflow-wrap: anywhere;
}

.editor-error p:first-of-type {
    font-size: 14px;
    font-weight: bold;
}

.editor-error p:not(:first-child) {
    font-size: 12px;
    font-family: "Roboto Mono", Monaco, Menlo, "Ubuntu Mono", Consolas, source-code-pro, monospace, "Courier New";
}

.editor-menu-option-on {
  color: var(--code-editor-menu-option__color--on);
}

.cellTableSelectedRowCell .editor-menu-option-on {
  color: var(--code-editor-menu-option__color--on--selected);
}

.editor-menu-option-off {
  color: var(--code-editor-menu-option__color--off);
}

.cellTableSelectedRowCell .editor-menu-option-off {
  color: var(--code-editor-menu-option__color--off--selected);
}

.ace-tomorrow-night .ace_marker-layer .ace_selection {
    background: #4A148C; /* purple 900 */
    border: none;
}

.ace-tomorrow-night .ace_marker-layer .ace_selected-word {
    background: #1A237E; /* indigo 900 */
    border: none;
}

.ace-tomorrow-night-eighties .ace_marker-layer .ace_selection {
    background: #4A148C; /* purple 900 */
    border: none;
}

.ace-tomorrow-night-eighties .ace_marker-layer .ace_selected-word {
    background: #1A237E; /* indigo 900 */
    border: none;
}
