.editor * {
    font-family: "Roboto Mono", Monaco, Menlo, "Ubuntu Mono", Consolas, source-code-pro, monospace, "Courier New";
    font-size: var(--font-size-12);
    line-height: 14px;
}

.editor.ace_editor {
    font-family: "Roboto Mono", Monaco, Menlo, "Ubuntu Mono", Consolas, source-code-pro, monospace, "Courier New";
    font-size: var(--font-size-12);
    line-height: 14px;
    width: 100%;
    height: 100%;
}

.editor .hl {
    position: absolute;
	background-color: var(--code-editor-highlight-background-color);
}

.editor .ace_tooltip {
    background-color: var(--tooltip-background-color);
    color: var(--tooltip-text-color);
    background-image: none;
    border: none;
    border-radius: 0;
    box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.5);
    font-family: var(--regular-font-family);
    font-size: var(--font-size-13);
    font-weight: 400;
    padding: 0 2px;
  	-webkit-user-select: text;
  	-moz-user-select: text;
  	user-select: text;
}

.editor .ace_gutter-cell.stroom_info {
    background-image: url(../images/info.svg);
    background-size: 14px 14px;
    background-position-x: 3px;
}

.editor .ace_gutter-cell.stroom_warning {
    background-image: url(../images/alert.svg);
    background-size: 14px 14px;
    background-position-x: 3px;
}

.editor .ace_gutter-cell.stroom_error {
    background-image: url(../images/error.svg);
    background-size: 14px 14px;
    background-position-x: 3px;
}

.editor .ace_gutter-cell.stroom_fatal_error {
    background-image: url(../images/fatal.svg);
    background-size: 14px 14px;
    background-position-x: 3px;
}

.stroom-theme-dark .editor .ace_gutter-cell.stroom_fatal_error {
    background-image: url(../images/fatal-dark.svg);
    background-size: 14px 14px;
    background-position-x: 3px;
}
