.explorerCell-outer {
    display: flex;
    align-items: center;
    white-space: nowrap;
    border: 1px solid transparent;
    border-radius: .25rem;
    padding: var(--vertical-padding) var(--horizontal-padding);
    gap: var(--horizontal-padding);
}

.cellTableSelectedRow .explorerCell-outer {
    background-color: var(--selected-row-background-color);
    color: var(--selected-row-text-color);
}





.cellTableCell div:focus-visible .explorerCell-outer {
    border-color: var(--focussed-row-border-color);
}

/*
.cellTableEvenRow>div>div:focus:not(:focus-visible) .explorerCell-outer {
    border-color: var(--focussed-row-border-color);
}
*/

/*



.cellTableOddRow:focus-within:not(:focus-visible) .explorerCell-outer {
    border-color: var(--focussed-row-border-color);
}

.cellTableEvenRow:focus-within:not(:focus-visible) .explorerCell-outer {
    border-color: var(--focussed-row-border-color);
}

.cellTableSelectedRow:focus-within:not(:focus-visible) .explorerCell-outer {
    background-color: var(--selected-row-background-color);
    color: var(--selected-row-text-color);
    border-color: var(--focussed-row-border-color);
}
*/

.explorerCell-outer * {
    display: flex;
    align-items: center;
    white-space: nowrap;
}

.explorerCell-expander svg {
    width: .7rem;
    height: .7rem;
}

.explorerCell-expanderIcon.svgIcon {
}

.explorerCell-icon {
}

.explorerCell-text {
}

.explorerCell-treeOpen {
    background-image: url("../images/tree-open.svg");
}

.explorerCell-treeClosed {
    background-image: url("../images/tree-closed.svg");
}

.explorerCell-treeLeaf {
    background-image: url("../images/tree-leaf.svg");
}

.stroom-theme-dark .explorerCell-treeOpen {
    background-image: url("../images/tree-open-dark.svg");
}

.stroom-theme-dark .explorerCell-treeClosed {
    background-image: url("../images/tree-closed-dark.svg");
}

.stroom-theme-dark .explorerCell-treeLeaf {
    background-image: url("../images/tree-leaf-dark.svg");
}