.explorerTickBoxCell-outer {
    display: flex;
    align-items: center;
}

.explorerTickBoxCell-outer * {
    white-space: nowrap;
}

.explorerTickBoxCell-expander {
    padding-right: 5px;
}

.explorerTickBoxCell-expander > .svgIcon {
    width: 14px;
    height: 14px;
}

.explorerTickBoxCell-expanderIcon {
    width: 14px;
    height: 14px;
}

.explorerTickBoxCell-tickBox {
}

.explorerTickBoxCell-icon {
    padding-left: 3px;
    width: 16px;
    height: 16px;
    margin: 0 3px;
}

.explorerTickBoxCell-text {
    padding-left: 2px;
    padding-right: 2px;
    white-space: nowrap;
}