.explorerCell-outer {
    white-space: nowrap;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.explorerCell-outer * {
    display: flex;
    white-space: nowrap;
    align-items: center;
}

.explorerCell-expanderIcon.svgIcon {
    width: 14px;
    height: 14px;
    vertical-align: middle;
}

.explorerCell-icon {
    padding-left: 3px;
    padding-top: 1px;
    margin-left: 5px;
    width: 16px;
    height: 16px;
}

.explorerCell-text {
    padding: var(--layout-padding-explorer);
    padding-left: 5px;
    padding-right: 2px;
}

.explorerCell-treeOpen {
    background-image: url("../images/tree-open.svg");
}

.explorerCell-treeClosed {
    background-image: url("../images/tree-closed.svg");
}

.explorerCell-treeLeaf {
    background-image: url("../images/tree-leaf.svg");
}

.stroom-theme-dark .explorerCell-treeOpen {
    background-image: url("../images/tree-open-dark.svg");
}

.stroom-theme-dark .explorerCell-treeClosed {
    background-image: url("../images/tree-closed-dark.svg");
}

.stroom-theme-dark .explorerCell-treeLeaf {
    background-image: url("../images/tree-leaf-dark.svg");
}