:root {
    --row__padding--horizontal: .4rem;
    --row__padding--vertical: .4rem;
    --row__gap--horizontal: .4rem;
    --row__gap--vertical: .25rem;
    --control__padding--horizontal: .4rem;
    --control__padding--vertical: .4rem;
    --control__gap--vertical: 1rem;
    --control__gap--horizontal: 1rem;
}

.stroom-density-compact {
    --row__padding--horizontal: .1rem;
    --row__padding--vertical: .1rem;
    --row__gap--horizontal: .4rem;
    --row__gap--vertical: .1rem;
    --control__padding--horizontal: .4rem;
    --control__padding--vertical: .4rem;
    --control__gap--vertical: .4rem;
    --control__gap--horizontal: .4rem;
}