:root {
    --horizontal-padding: .4rem;
    --vertical-padding: .25rem;
    --layout-padding-data: .24rem .12rem;
}

.stroom-density-compact {
    --horizontal-padding: .4rem;
    --vertical-padding: .1rem;
    --layout-padding-data: .12rem .06rem;
}