:root {
    --padding--horizontal: .4rem;
    --padding--vertical: .4rem;
    --gap--horizontal: .4rem;
    --gap--vertical: .25rem;
    --layout-padding-data: .24rem .12rem;
}

.stroom-density-compact {
    --padding--horizontal: .1rem;
    --padding--vertical: .1rem;
    --gap--horizontal: .4rem;
    --gap--vertical: .1rem;
    --layout-padding-data: .12rem .06rem;
}