.LoginView, .AuthErrorView {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
}

.LoginView .LoginViewLogo svg {
    position: absolute;
    top: 6px;
    left: 0px;
    width: 146px;
    height: 35px;
    color: #fff;
}

.LoginView .LoginViewFormPanel,
.AuthErrorView .AuthErrorViewFormPanel {
    border-radius: var(--dialog__border-radius);
    background-color: var(--dialog__background-color);
    color: var(--page__text-color);
}

.LoginView .LoginViewFormPanel .LoginViewForm {
    padding: 2rem;
    border-radius: .5rem;
    width: 18rem;

    font-size: .8rem;
    font-weight: 400;
    margin-bottom: .25rem;
}

.LoginView .LoginViewFormPanel .LoginViewUserImageContainer {
    display: flex;
    justify-content: center;
    margin: 0 0 2rem;
}

.LoginView .LoginViewFormPanel .LoginViewUserImageContainer .LoginViewUserImage svg {
    width: 8rem;
    height: 8rem;
    border-radius: 4rem;
}

.LoginView .LoginViewFormPanel .userNameTextBoxOuter {

}

.LoginView .LoginViewFormPanel .userNameTextBox {
    width: 100%;
}

.LoginView .LoginViewFormPanel .passwordTextBoxOuter {
    position: relative;
}

.LoginView .LoginViewFormPanel .passwordTextBoxOuter svg {
    color: #7a7a7a;
}

.LoginView .LoginViewFormPanel .passwordTextBox {
    width: 100%;
}

.LoginView .LoginViewFormPanel .passwordTextBox {
    padding-right: 1.6rem;
}

.LoginView .LoginViewFormPanel .passwordTextBoxOverlay {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 4px;
    gap: 4px;
}

.LoginView .LoginViewFormPanel .passwordTextBoxOverlay .icon-button .face {
    color: var(--text-color);
}

.LoginView .LoginViewFormPanel .showPassword {

}

.LoginView .LoginViewFormPanel .feedback {
    display: block;
    width: 100%;
    margin-top: .25rem;
    font-size: 80%;
    min-height: 16px;
    color: var(--feedback);
}

.LoginView .LoginViewFormPanel .LoginViewSignInButton {
}

.LoginView .LoginViewFormPanel .LoginViewForgotPassword {
    font-size: .7rem;
    text-align: center;
    cursor: pointer;
    color: #1890ff;
    transition: color .3s;
}


.AuthErrorView {
}

.AuthErrorViewFormPanel {
}

.AuthErrorViewForm{
}

.AuthErrorView .AuthErrorViewFormPanel .AuthErrorViewForm {
    padding: 2rem;
    border-radius: 0.5rem;
    width: 30rem;

    font-size: .8rem;
    font-weight: 400;
    margin-bottom: 0.25rem;

    justify-content: center;
}

.AuthErrorView .AuthErrorViewFormPanel .AuthErrorViewImageContainer {
    display: flex;
    justify-content: center;
    margin-bottom: 0.5rem;
}

.AuthErrorView .AuthErrorViewFormPanel .AuthErrorViewImageContainer .AuthErrorViewImage svg {
    width: 4rem;
    height: 4rem;
    border-radius: 4rem;
}

.AuthErrorView .AuthErrorViewFormPanel .AuthErrorViewForm .form-group-label {
    font-size: var(--font-size-15);
}
