.redGreenCell {
    /*font-weight:bold*/
}

.redGreenCell__green {
    color:var(--text-color--green);
}

.redGreenCell__red {
    color:var(--text-color--red);
}

.dataGridDisabledCell.dataGridSelectedRowCell .redGreenCell__green,
.dataGridDisabledCell.dataGridSelectedRowCell .redGreenCell__red,
.dataGridDisabledCell .redGreenCell__green,
.dataGridDisabledCell .redGreenCell__red {
    color:var(--text-color--disabled);
}

/* Not enough contrast on blue bg to use red and green */
.dataGridSelectedRowCell .redGreenCell__green,
.dataGridSelectedRowCell .redGreenCell__red {
    color:var(--text-color);
}
