.RefreshButton {
    position: relative;
    width: 22px;
    height: 22px;
}

.RefreshButton .refresh-inner svg,
.RefreshButton .circle-inner svg,
.RefreshButton .spinning-inner svg,
.RefreshButton .pause-inner svg {
    color: var(--icon-button__color);
}

.RefreshButton .refresh-outer,
.RefreshButton .circle-outer,
.RefreshButton .spinning-outer,
.RefreshButton .pause-outer {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    visibility: hidden;
}

.RefreshButton .refresh-inner,
.RefreshButton .circle-inner,
.RefreshButton .spinning-inner,
.RefreshButton .pause-inner {
    display: flex;
    align-items: center;
    height: 100%;
}

.RefreshButton .refresh-inner svg,
.RefreshButton .circle-inner svg,
.RefreshButton .spinning-inner svg,
.RefreshButton .pause-inner svg {
    width: 18px;
    height: 18px;
}

.RefreshButton.refreshing .spinning-inner svg {
    -webkit-animation: spinner-border .75s linear infinite;
    animation: spinner-border .75s linear infinite;
}

.RefreshButton.paused {
    animation: pulse-animation 2s infinite;
}

.RefreshButton.refreshing .refresh-outer,
.RefreshButton.refreshing.allowPause .circle-outer,
.RefreshButton.paused .refresh-outer,
.RefreshButton.paused.allowPause .spinning-outer,
.RefreshButton.allowPause .refresh-outer,
.RefreshButton.paused.allowPause .refresh-outer {
    visibility: hidden;
}

.RefreshButton.refreshing .spinning-outer,
.RefreshButton.refreshing.allowPause .pause-outer,
.RefreshButton.paused .circle-outer,
.RefreshButton.paused .pause-outer,
.RefreshButton .refresh-outer,
.RefreshButton.allowPause .circle-outer,
.RefreshButton.paused.allowPause .circle-outer {
    visibility: visible;
}

@keyframes pulse-animation {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}

@keyframes spinner-border {
  to { transform: rotate(360deg); }
}
