@import url("theme-root.css");
@import url("theme-dark.css");
@import url("theme-dark2.css");

.stroom-theme-dark .navigation {
	background-color: var(--navigation__background-color) !important;
}

/**
 * Transitions for theme colours.
 */
.stroom-theme-transitions body {
    transition: color 3s linear;
	-webkit-transition: color 3s linear;
	-moz-transition: color 3s linear;
	-o-transition: color 3s linear;
}

.stroom-theme-transitions .stroom-content, .stroom-theme-transitions input {
    transition: background-color 3s linear;
	-webkit-transition: background-color 3s linear;
	-moz-transition: background-color 3s linear;
	-o-transition: background-color 3s linear;
}

.stroom-theme-transitions .gwt-TabLayoutPanel .gwt-TabLayoutPanelContent {
    transition: background-color 3s linear;
	-webkit-transition: background-color 3s linear;
	-moz-transition: background-color 3s linear;
	-o-transition: background-color 3s linear;
}

.stroom-theme-transitions .stroom-border {
	transition: border-color 3s linear;
	-webkit-transition: border-color 3s linear;
	-moz-transition: border-color 3s linear;
	-o-transition: border-color 3s linear;
}