/**
 * The style names roughly follow the BEM (Block, Element, Modifier) standard but adapted for variables.
 * In general the form is:
 * --<object>__<attribute>
 * --<object>__<attribute>--<modifier>
 * --<object>__<attribute>--<modifier>--<modifier>
 * --<object>-<inner_object>__<attribute>--<modifier>--<modifier>
 */

.stroom-theme-dark {
    /* Some bootstrap defaults */
    --bootstrap-error-rgb: 220, 53, 69;
    --bootstrap-warning-rgb: 255, 193, 7;
    --bootstrap-success-rgb: 40, 167, 69;

    --bootstrap-error: rgb(var(--bootstrap-error-rgb));
    --bootstrap-warning: rgb(var(--bootstrap-warning-rgb));
    --bootstrap-success: rgb(var(--bootstrap-success-rgb));

    --focus-border: var(--blue-800);
    --focus-shadow: inset 0 1px 1px rgba(var(--black-rgb), .08), 0 0 8px rgba(var(--blue-500-rgb), .6); /* blue-500*/
    --focus-border--valid: var(--valid);
    --focus-shadow--valid: inset 0 1px 1px rgba(var(--black-rgb), .08), 0 0 8px rgba(var(--valid-rgb), .6); /* --bootstrap-success*/
    --focus-border--invalid: var(--invalid);
    --focus-shadow--invalid: inset 0 1px 1px rgba(var(--black-rgb), .08), 0 0 8px rgba(var(--invalid-rgb), .6); /* --bootstrap-error*/
    --focus-border--secondary: var(--pink-500);
    --focus-shadow--secondary: inset 0 1px 1px rgba(var(--black-rgb), .075), 0 0 8px rgba(var(--pink-500-rgb), .6); /* pink-500*/

    /* Main body text colour in the app */
    --text-color: #dce4e5;
    --text-color--hover: #e5eaeb;
    --text-color--selected: #fff;
    --text-color--disabled: #999;
    --text-color--disabled--selected: #ccc;
    --text-color--red: var(--red-400);
    --text-color--green: var(--green-500);
    --text-color--red--dark: var(--red-900);
    --text-color--green--dark: var(--green-700);

    /* e.g. Find in content match highlighting */
    /*--highlight__background-color: #c5c500;*/
    --highlight__background-color: #d9d900;
    --highlight__background-color--selected: #d9d900;

    /* Headings, e.g. in markdown documentation, info tooltips, meta info */
    --heading-color: var(--blue-300);
    /* <code> blocks, e.g. in markdown or in FormGroup help/description */
    --code-color: var(--pink-300);
    --code-color--disabled: rgb(from var(--code-color) r g b / 0.7);
    --border-color: #353944;

    --header__border-color: transparent;
    --row__background-color--even: #15161b;
    --row__background-color--odd: #22252c;
    --row__background-color--hovered: rgb(45, 47, 53);
    --row__background-color--selected: rgb(0, 101, 167);
    --row__background-color--selected--hovered: rgb(0,120,199);
    --row__background-color--focussed: rgba(0,120,199,.5);
    --row__background-color--selected--focussed: rgb(0,120,199);
    --row__box-shadow--focussed: inset 0 0 2px 1px #81cdff;
    --row__box-shadow--selected--focussed: inset 0 0 2px 1px #81cdff;
    --row__text-color--selected: var(--text-color--selected);

    --menu-separator__color: rgb(255 255 255 / 20%);

    --tooltip__background-color: #1a1d21;
    --tooltip__text-color: var(--text-color);

    --button__background-image: none;
    --button__background-color: #333436;
    --button__border-color: #000;
    --button__text-color: var(--text-color);
    --button__background-image--active: none;
    --button__background-color--active: #262a32;
    --button__border-color--active: #444;
    --button__background-image--hover: none;
    --button__background-color--hover: #383d49;
    --button__border-color--hover: #14161b;
    --button__text-color--disabled: var(--text-color--disabled);
    --button__border-color--disabled--hover: #000;

    --icon-button__background-color--on: var(--blue-500);
    --icon-button__border-color--on: var(--black);
    --icon-button__color--on: var(--app__background);
    --icon-button__background-color--hover: rgb(55, 58, 67);
    --icon-button__border-color--hover: #505050;
    --icon-button__color: var(--blue-300);
    --navigation-icon-button__color: var(--navigation__text-color);
    --navigation-icon-button__background-color--on: var(--blue-500);
    --navigation-icon-button__border-color--on: var(--black);
    --navigation-icon-button__background-color--hover: rgb(52, 53, 55);
    --navigation-icon-button__border-color--hover: var(--icon-button__border-color--hover);

    --expression-item-box__background-color--selected: var(--row__background-color--selected);/*#454545;*/
    --expression-item-box__background-color--hover: var(--row__background-color--hovered);/*#555;*/
    --expression-item-box__background-color--disabled: #333;
    --expression-item-box__background-color--hotspot: var(--row__background-color--selected--hovered);

    --pipeline-element-box__background-color: #454545;
    --pipeline-element-box__background-color--hover: #505050;
    --pipeline-element-box__background-color--selected: var(--row__background-color--selected);
    --pipeline-element-box__background-color--selected--hover: var(--row__background-color--selected--hovered);
    --pipeline-element-box__text-color: var(--text-color);
    --pipeline-element-box__text-color--selected: var(--text-color--selected);
    --pipeline-element-box__border-color: #777;
    --pipeline-element-box__border-color--selected: #a1a1a1;
    --pipeline-element-box__border-color--info: #378cff;
    --pipeline-element-box__border-color--warn: yellow;
    --pipeline-element-box__border-color--error: orangered;
    --pipeline-element-box__border-color--fatal-error: red;
    --pipeline-element-box__border-color--fatal-error-dark: #c60000;
    --pipeline-element-box__border-color--hotspot: var(--pipeline-element-box__border-color--info);

    --link__text-color: #3aaaff;

    --link-tab__text-color: var(--text-color);
    --link-tab__text-color--focussed: var(--text-color--selected);

    --code-editor-right-bar__background-color: #19171d;
    --code-editor__border-color: #000;
    --code-editor__border-color--info: #378cff;
    --code-editor__background-color--info: #378cff;
    --code-editor__border-color--warning: yellow;
    --code-editor__background-color--warning: yellow;
    --code-editor__border-color--error: orangered;
    --code-editor__background-color--error: orangered;
    --code-editor__border-color--fatal: red;
    --code-editor__background-color--fatal: red;
    --code-editor__background-color--highlight: #1164a3;
    /*--code-editor__background-color--highlight: #d9d900;*/


    --xsdbrowser-box__background-color: #19171d;
    --xsdbrowser-box__border-color: #15161b;
    --xsdbrowser-title__background-color: #555;
    --xsdbrowser-title__background-color--selected: #1164a3;

    --scrollbar__background-color: transparent;
    --scrollbar-corner__background-color: transparent;
    --scrollbar-thumb__border-color: transparent;
    --scrollbar-thumb__background-color: #5c5c5c;
    --scrollbar-thumb__background-color--hover: #8d8d8d;
    --scrollbar-thumb__background-color--active: #979797;


    /**
     * NEW UI VARS
     */

    /* Page */
    --app__background-color: #020202;
    --page__background-color-rgb: 34, 37, 44;
    --page__background-color: rgb(var(--page__background-color-rgb));
    --page__text-color: var(--text-color);

    /* Splitter */
    --splitter__background-color: var(--border-color);
    --splitter__background-color--highlight: var(--blue-300);

    /* Main curve tabs */
    --curve-tab__svg-color: #fff;
    --curve-tab__background-color: transparent;
    --curve-tab__border: thin solid transparent;
    --curve-tab__border--hover: thin solid transparent;
    --curve-tab__background-color--selected: #484d52;
    --curve-tab__background-color--hover: rgba(var(--blue-300-rgb), .2);
    --curve-tab__box-shadow--selected: 0 0 1px 1px rgb(0 0 0 / 100%);
    --curve-tab__border-radius: .2rem;

    /* Controls */
    --control__background-color: #15161b;
    --control__background-color--disabled: rgba(255, 255, 255, 0.1);
    --control__border-color: #505050;
    --control__border-color--disabled: transparent;
    --control__text-color: var(--text-color);
    --control__text-color--disabled: var(--text-color--disabled);

    /* Form Group */
    --form-group__label-color: #eee;

    /* Dashboard */
    --dashboard-panel__background-color: var(--page__background-color);
    --dashboard-panel__grid-color: var(--border-color);
    --dashboard-panel__grid-background-color: #19171d;

    /* ExpanderCell */
    --expander-cell-icon__background-color--hover: rgba(255, 255, 255, 0.2);
    --expander-cell-icon__background-color--active: rgba(0, 0, 0, 0.5);

    /* Items, e.g. rows for tables, drop downs lists etc. */
    --item__background-color--focus--highlighted: rgba(24, 94, 144, 0.3);
    --item__text-color--focus--highlighted: var(--text-color);
    --item__background-color--focus--highlighted--hover: rgba(24, 94, 144, 0.3); /* rgba(24,94,144,0.4); */
    --item__text-color--focus--highlighted--hover: var(--text-color--hover);
    --item__background-color--focus--selected: rgba(24, 94, 144, 0.9);
    --item__text-color--focus--selected: var(--text-color--selected);
    --item__background-color--focus--highlighted--selected: rgba(24, 94, 144, 1);
    --item__text-color--focus--highlighted--selected: var(--text-color--selected);
    --item__background-color--hover: rgba(255, 255, 255, 0.1); /* rgba(24,94,144,0.3); */
    --item__text-color--hover: var(--text-color--hover);
    --item__background-color--selected: rgba(255, 255, 255, 0.2); /* rgba(24,94,144,0.6); */
    --item__text-color--selected: var(--text-color--selected);
    --item__background-color--selected--hover: rgba(255, 255, 255, 0.2); /* rgba(24,94,144,0.7); */
    --item__text-color--selected--hover: var(--text-color--hover);

    /* Pipeline editor */
    --raised-low__background-color: #adadad;
    --raised-low__text-color: var(--text-color);
    --raised-high__background-color: #4d5250;
    --raised-high__text-color: var(--text-color);
    --raised-high__selected-background-color: #747c79;
    --raised-high__selected-focus-background-color: #747c79;
    --raised-element__border: thin solid #aaa;

    /* Menu */
    --menu-item__text-color: var(--text-color);
    --menu-item__text-color--highlighted: var(--text-color);
    --menu-item__background-color--focus--highlighted: rgba(24, 94, 144, 0.3);
    --menu-item__text-color--focus--highlighted: var(--text-color);
    --menu-item__background-color--focus--highlighted--hover: rgba(24, 94, 144, 0.3); /* rgba(24,94,144,0.4); */
    --menu-item__text-color--focus--highlighted--hover: var(--text-color--hover);
    --menu-item__background-color--focus--selected: rgba(24, 94, 144, 0.9);
    --menu-item__text-color--focus--selected: var(--text-color--selected);
    --menu-item__background-color--focus--highlighted--selected: rgba(24, 94, 144, 1);
    --menu-item__text-color--focus--highlighted--selected: var(--text-color--selected);
    --menu-item__background-color--hover: rgba(255, 255, 255, 0.1); /* rgba(24,94,144,0.3); */
    --menu-item__text-color--hover: var(--text-color--hover);
    --menu-item__background-color--selected: rgba(255, 255, 255, 0.2); /* rgba(24,94,144,0.6); */
    --menu-item__text-color--selected: var(--text-color--selected);
    --menu-item__background-color--selected--hover: rgba(255, 255, 255, 0.2); /* rgba(24,94,144,0.7); */
    --menu-item__text-color--selected--hover: var(--text-color--selected);

    /* Navigation pane */
    --navigation__splitter__background-color: #353944;
    --navigation__background-color: #19171d;
    --navigation__background-color--hovered: rgb(45, 47, 53);
    --navigation__background-color--selected: rgb(0, 101, 167);
    --navigation__background-color--selected-hovered: rgb(0,120,199);
    --navigation__background-color--focussed: rgba(0,120,199,.5);
    --navigation__background-color--selected--focussed: rgb(0,120,199);

    --navigation__text-color: var(--text-color);
    --navigation__text-color--selected: var(--text-color--selected);
    --navigation__text-color--no-match: #7b7b7b;
    --logo-color: var(--white);

    /* Specific */
    --header__icon-color: #2185d0;

    /* React table */
    --table__odd-row__background-color: rgba(var(--black-rgb), .2);

    /* Dialog */
    --dialog__background-color-rgb: var(--page__background-color-rgb);
    --dialog__background-color: rgb(var(--dialog__background-color-rgb));
    --dialog__border-color: #2c2f35;
    --dialog__shadow: 0 0 20px 5px rgba(0, 0, 0, .8);
    --dialog__border-radius: 8px;
    --popup__shadow: 0 0 10px 1px rgb(0, 0, 0, .9);
    --transparency__background-color: rgba(var(--dialog__background-color-rgb), .8);
    --transparency__backdrop-filter: saturate(2) blur(20px);

    /* Status */
    --ok: var(--blue-500);
    --warn: var(--bootstrap-warning);
    --error: var(--bootstrap-error);
    --fatal: var(--black);

    /* Form fields */
    --primary-rgb: var(--blue-500-rgb);
    --valid-rgb: var(--bootstrap-success-rgb);
    --invalid-rgb: var(--bootstrap-error-rgb);
    --feedback-rgb: var(--bootstrap-error-rgb);

    --primary: var(--blue-500);
    --valid: var(--bootstrap-success);
    --invalid: var(--bootstrap-error);
    --feedback: var(--red-200);

    /* Visualisations */
    --vis__background-color: var(--dashboard-panel__background-color);
    --vis-axis__color: rgba(255,255,255,0.54);
    --vis-text__color: var(--text-color);
    --vis-text__color--faint: rgba(255,255,255,0.12);
    --vis-icon__color: rgba(255,255,255,0.6);
    --vis-icon__color--hover: rgba(255,255,255,0.87);
    --vis-barchart-element__stroke: #000;
    --vis-marker__stroke: #fff;
    --vis-series-label__background-color: rgba(0,0,0,0.87);
    --vis-tip__background-color: rgba(30, 30, 30, 0.8);
    --vis-tip-text__color: #bbb;

    --iframe__border-color: var(--control__border-color);
}
