/**
 * Vars
 */
:root {
    /*
    --row__border-color--focussed: rgb(77, 82, 80);
    --row__box-shadow--focussed: inset 0 1px 1px rgba(77, 82, 80, .08), 0 0 8px rgba(77, 82, 80, .6);
    */
    --focus-border: var(--blue-500);
    --focus-shadow: inset 0 1px 1px rgba(var(--black-rgb), .08), 0 0 8px rgba(var(--blue-500-rgb), .6); /* blue-500*/
    --focus-border--valid: var(--valid);
    --focus-shadow--valid: inset 0 1px 1px rgba(var(--black-rgb), .08), 0 0 8px rgba(var(--valid-rgb), .6); /* --bootstrap-success*/
    --focus-border--invalid: var(--invalid);
    --focus-shadow--invalid: inset 0 1px 1px rgba(var(--black-rgb), .08), 0 0 8px rgba(var(--invalid-rgb), .6); /* --bootstrap-error*/
    --focus-border--secondary: var(--pink-500);
    --focus-shadow--secondary: inset 0 1px 1px rgba(var(--black-rgb), .075), 0 0 8px rgba(var(--pink-500-rgb), .6); /* pink-500*/

    --text-color: #000;
    --text-color-disabled: #666;
    --app-background-color: #fff;/*#d50101;*/
    --page-background-color: #fff;
    --border-color: #c5cde2;
    --input-background-color: #fff;
    --input-border-color: #c5cde2;
    --input-background-color-disabled: #eee;
    --input-border-color-disabled: #ccc;

    --header-border-color: #dddddd;
    --even-row-background-color: #ebebeb;
    --odd-row-background-color: #fff;

    --row__background-color--hovered: #e6f4ff;
    --row__background-color--selected: #bbdefb;
    --row__background-color--selected-hovered: #bbdefb;
    --row__text-color--selected: #000;
    --row__border-color--focussed: var(--focus-border);
    --row__box-shadow--focussed: var(--focus-shadow);
    --row__border-color--selected-focussed: var(--focus-border);
    --row__box-shadow--selected-focussed: var(--focus-shadow);

    --menu-separator-color: #bfbfbf;

    --dialog-titlebar-background-image: linear-gradient(rgb(96, 161, 240), rgb(74, 144, 228) 8px);
    --dialog-titlebar-background-color: rgb(74, 144, 228);
    --dialog-titlebar-border-color: rgb(60, 60, 60);
    --dialog-titlebar-text-color: #fff;
    --dialog-background-image: linear-gradient(rgb(248, 250, 253) 21px,	rgb(223, 234, 248) 60px);
    --dialog-background-color: rgb(223, 234, 248);
    --dialog-border-color: rgb(60, 60, 60);
    --dialog-shadow: 0 0 8px rgba(0, 0, 0, .7);
    --popup-shadow: 0 0 5px 0 rgba(0, 0, 0, .5);

    --main-background-color: #fff;
    --main-border-color: #404e60;

    --tooltip-background-color: #ffd;
    --tooltip-text-color: #000;

    --button-background-image: none; /*linear-gradient(#ffffff 0px, #fbfbfa 10px, #f6f5f5 0px, #e9e7e6); */
    --button-background-color: #f6f5f5;
    --button-border-color: #918e8c;
    --button-text-color: #000;
    --button-background-image-active: linear-gradient(#c8c9cb 0px, #c8cacd 10px, #c2c6c8 0px, #b5b7ba);
    --button-background-color-active: #c2c6c8;
    --button-border-color-active: #5b7aa1;
    --button-background-image-hover: linear-gradient(#ffffff 0px, #ffffff 10px, #fafafa 0px, #edeceb);
    --button-background-color-hover: #fafafa;
    --button-border-color-hover: #918e8c;
    --button-text-color-disabled: #888;
    --button-border-color-disabled-hover: #aaa;

    --expression-item-box-background-color-selected: #bbdefb;
    --expression-item-box-background-color-hover: #f7fbff;
    --expression-item-box-background-color-disabled: #ccc;
    --expression-item-box-background-color-hotspot: rgba(255,0,0,.3);

    --pipeline-element-box-background-color: #f5f9fd;
    --pipeline-element-box-background-color-hover: #f7fbff;
    --pipeline-element-box-background-color-selected: #bbdefb;
    --pipeline-element-box-background-color-selected-hover: #bbdefb;
    --pipeline-element-box-background-color-hotspot: rgba(255,0,0,.3);
    --pipeline-element-box-text-color: #000;
    --pipeline-element-box-border-color: #918e8c;

    --link-text-color: #0000AA;

    --code-editor-right-bar-background-color: #efefef;
    --code-editor-border-color: #a1a1a1;
    --code-editor-info-border-color: #3676c6;
    --code-editor-info-background-color: #378cff;
    --code-editor-warning-border-color: #dd9942;
    --code-editor-warning-background-color: #ffde81;
    --code-editor-error-border-color: #660000;
    --code-editor-error-background-color: #ff3a37;
    --code-editor-fatal-border-color: #444444;
    --code-editor-fatal-background-color: #000000;
    --code-editor-highlight-background-color: yellow;

    --xsdbrowser-title-background-color: #888;
    --xsdbrowser-title-background-color-selected: rgb(74, 144, 228);
    --xsdbrowser-box-background-color: white;

    --vis-axis-color: rgba(0,0,0,0.54);
    --vis-text-color: rgba(0,0,0,0.87);
    --vis-text-color-faint: rgba(0,0,0,0.12);
    --vis-icon-color: rgba(0,0,0,0.38);
    --vis-icon-color-hover: rgba(0,0,0,0.87);
    --vis-barchart-element-stroke: #fff;
    --vis-marker-stroke: #000;
    --vis-series-label-background-color: rgba(255,255,255,0.87);
    --vis-tip-background-color: rgba(30, 30, 30, 0.8);
    --vis-tip-text-color: #bbb;

    --scrollbar-background-color: transparent;
    --scrollbar-corner-background-color: transparent;
    --scrollbar-thumb-border-color: transparent;
    --scrollbar-thumb-background-color: rgba(0,0,0,0.3);
    --scrollbar-thumb-background-color-hover: rgba(0,0,0,.5);
    --scrollbar-thumb-background-color-active: rgba(0,0,0,.8);

    --navigation-background-color: #d5e9ff;
    --navigation-text-color: #fff;







    /**
     * NEW UI VARS
     */


    /* Page */
    --page__background-color: #fff;
    --page__text-color: rgba(0, 0, 0, 0.8);

    /* Controls */
    --control__background-color: #fff;
    --control__text-color: rgba(0, 0, 0, 0.8);
    --control__border-color: rgba(0, 0, 0, 0.1);

    /* Items, e.g. rows for tables, drop downs lists etc. */
    --item__background-color--focus--highlighted: rgba(144, 202, 249, 0.4);
    --item__text-color--focus--highlighted: rgba(0, 0, 0, 0.9);
    --item__background-color--focus--highlighted--hover: rgba(144, 202, 249, 0.4); /* rgba(24,94,144,0.4); */
    --item__text-color--focus--highlighted--hover: rgba(0, 0, 0, 0.9);
    --item__background-color--focus--selected: rgba(144, 202, 249, 0.9);
    --item__text-color--focus--selected: #000;
    --item__background-color--focus--highlighted--selected: rgba(144, 202, 249, 1); /* #cae1f1; */
    --item__text-color--focus--highlighted--selected: #000;
    --item__background-color--hover: rgba(0, 0, 0, 0.1); /* rgba(24,94,144,0.3); */
    --item__text-color--hover: rgba(0, 0, 0, 0.8);
    --item__background-color--selected: rgba(0, 0, 0, 0.2); /* rgba(24,94,144,0.6); */
    --item__text-color--selected: #000; /* rgba(0, 0, 0, 0.8); #fff */
    --item__background-color--selected--hover: rgba(0, 0, 0, 0.2); /* rgba(24,94,144,0.7); */
    --item__text-color--selected--hover: #000; /* rgba(0, 0, 0, 0.8); #fff; */

    /* Pipeline editor */
    --raised-low__background-color: #e4e4e4;
    --raised-low__text-color: rgba(0, 0, 0, 0.8);
    --raised-high__background-color: #2185d0;
    --raised-high__text-color: rgba(0, 0, 0, 0.8);
    --raised-high__selected-background-color: red;
    --raised-high__selected-focus-background-color: #1c70b1;
    --raised-element__border: thin solid #fff;

    /* Sidebar */
    --sidebar__header-color: var(--white);
    --sidebar__background-color: var(--light-blue-500); /* material light blue 900 */
    --menu-item__text-color: rgba(1, 1, 1, 0.8);
    --menu-item__background-color--focus--highlighted: rgba(2, 136, 209, 0.3);
    --menu-item__text-color--focus--highlighted: var(--white);
    --menu-item__background-color--focus--highlighted--hover: rgba(2, 136, 209, 0.3); /* rgba(24,94,144,0.4); */
    --menu-item__text-color--focus--highlighted--hover: var(--white);
    --menu-item__background-color--focus--selected: rgba(2, 136, 209, 0.9);
    --menu-item__text-color--focus--selected: var(--white);
    --menu-item__background-color--focus--highlighted--selected: rgba(2, 136, 209, 1); /* material light blue 700 */
    --menu-item__text-color--focus--highlighted--selected: var(--white);
    --menu-item__background-color--hover: rgba(2, 136, 209, .2); /* rgba(24,94,144,0.3); */
    --menu-item__text-color--hover: var(--white);
    --menu-item__background-color--selected: rgba(2, 136, 209, .5); /* rgba(24,94,144,0.6); */
    --menu-item__text-color--selected: var(--white);
    --menu-item__background-color--selected--hover: rgba(2, 136, 209, .6); /* rgba(24,94,144,0.7); */
    --menu-item__text-color--selected--hover: #fff; /* #cacbcb; #fff; */

    /*--border-color: rgba(0, 0, 0, 0.1);*/

    /* Specific */
    --header__icon-color: #2185d0;

    /* React table */
    --table__odd-row__background-color: rgba(var(--black-rgb), .05);

    /* Dialog */
    --dialog__border-color: rgba(var(--black-rgb), .2);

    /* Status */
    --ok: var(--blue-500);
    --warn: var(--bootstrap-warning);
    --error: var(--bootstrap-error);
    --fatal: var(--black);

    /* Form fields */
    --primary-rgb: var(--blue-500-rgb);
    --valid-rgb: var(--bootstrap-success-rgb);
    --invalid-rgb: var(--bootstrap-error-rgb);
    --feedback-rgb: var(--bootstrap-error-rgb);

    --primary: var(--blue-500);
    --valid: var(--bootstrap-success);
    --invalid: var(--bootstrap-error);
    --feedback: var(--bootstrap-error);
}

.stroom-theme-dark {
    --text-color: #e6e1dc;
    --text-color-disabled: #666;
    --app-background-color: #000;/*#19171d;*/
    --page-background-color: #19171d;
    --border-color: #555;
    --input-background-color: #333;
    --input-border-color: #555;
    --input-background-color-disabled: #222427;
    --input-border-color-disabled: #3c3c3c;

    --header-border-color: #333;
    --even-row-background-color: #282c31;
    --odd-row-background-color: #1a1d21;

    --row__background-color--hovered: rgb(255 255 255 / 15%);
    --row__background-color--selected: #0065a7;
    --row__background-color--selected-hovered: #0078c7;
    --row__text-color--selected: #fff;
    --row__border-color--focussed: var(--focus-border);
    --row__box-shadow--focussed: var(--focus-shadow);
    --row__border-color--selected-focussed: var(--focus-border);
    --row__box-shadow--selected-focussed: var(--focus-shadow);

    --menu-separator-color: rgb(255 255 255 / 20%);

    --dialog-titlebar-background-image: none;
    --dialog-titlebar-background-color: #19171d;
    --dialog-titlebar-border-color: #19171d;
    --dialog-titlebar-text-color: #fff;
    --dialog-background-image: none;
    --dialog-background-color: #1a1d21;
    --dialog-border-color: rgb(132 132 132 / 60%);
    --dialog-shadow: 0 0 5px 2px rgb(0 0 0 / 100%);
    --popup-shadow: 0 0 5px 2px rgb(0 0 0 / 100%);

    --main-background-color: #19171d;
    --main-border-color: #555;

    --tooltip-background-color: #3c3f41;
    --tooltip-text-color: #fff;

    --button-background-image: none;
    --button-background-color: #454545;
    --button-border-color: #555;
    --button-text-color: #fff;
    --button-background-image-active: none;
    --button-background-color-active: #555555;
    --button-border-color-active: #444;
    --button-background-image-hover: none;
    --button-background-color-hover: #505050;
    --button-border-color-hover: #666;
    --button-text-color-disabled: #888;
    --button-border-color-disabled-hover: #000;

    --expression-item-box-background-color-selected: #454545;
    --expression-item-box-background-color-hover: #555;
    --expression-item-box-background-color-disabled: #333;
    --expression-item-box-background-color-hotspot: rgba(255,0,0,.3);

    --pipeline-element-box-background-color: #454545;
    --pipeline-element-box-background-color-hover: #505050;
    --pipeline-element-box-background-color-selected: #1164a3;
    --pipeline-element-box-background-color-selected-hover: #1164a3;
    --pipeline-element-box-background-color-hotspot: rgba(255,0,0,.5);
    --pipeline-element-box-text-color: #fff;
    --pipeline-element-box-border-color: #a1a1a1;

    --link-text-color: #3aaaff;

    --code-editor-right-bar-background-color: #19171d;
    --code-editor-border-color: #000;
    --code-editor-info-border-color: #3676c6;
    --code-editor-info-background-color: #378cff;
    --code-editor-warning-border-color: #dd9942;
    --code-editor-warning-background-color: #ffde81;
    --code-editor-error-border-color: #660000;
    --code-editor-error-background-color: #ff3a37;
    --code-editor-fatal-border-color: #c5cde2;
    --code-editor-fatal-background-color: #000000;
    --code-editor-highlight-background-color: #1164a3;

    --xsdbrowser-title-background-color: #555;
    --xsdbrowser-title-background-color-selected: #1164a3;
    --xsdbrowser-box-background-color: #19171d;

    --vis-axis-color: rgba(255,255,255,0.54);
    --vis-text-color: rgba(255,255,255,0.87);
    --vis-text-color-faint: rgba(255,255,255,0.12);
    --vis-icon-color: rgba(255,255,255,0.38);
    --vis-icon-color-hover: rgba(255,255,255,0.87);
    --vis-barchart-element-stroke: #000;
    --vis-marker-stroke: #fff;
    --vis-series-label-background-color: rgba(0,0,0,0.87);
    --vis-tip-background-color: rgba(30, 30, 30, 0.8);
    --vis-tip-text-color: #bbb;

    --scrollbar-background-color: transparent;
    --scrollbar-corner-background-color: transparent;
    --scrollbar-thumb-border-color: transparent;
    --scrollbar-thumb-background-color: #5c5c5c;
    --scrollbar-thumb-background-color-hover: #8d8d8d;
    --scrollbar-thumb-background-color-active: #979797;

    --navigation-background-color: #19171d;
    --navigation-text-color: #e6e1dc;

    /**
     * NEW UI VARS
     */

    /* Page */
    --page__background-color: #212121;
    --page__text-color: #cacbcb;

    /* Controls */
    --control__background-color: #131417;
    --control__text-color: #cacbcb;
    --control__border-color: #4d5250;

    /* Items, e.g. rows for tables, drop downs lists etc. */
    --item__background-color--focus--highlighted: rgba(24, 94, 144, 0.3);
    --item__text-color--focus--highlighted: #cacbcb;
    --item__background-color--focus--highlighted--hover: rgba(24, 94, 144, 0.3); /* rgba(24,94,144,0.4); */
    --item__text-color--focus--highlighted--hover: #cacbcb;
    --item__background-color--focus--selected: rgba(24, 94, 144, 0.9);
    --item__text-color--focus--selected: #fff;
    --item__background-color--focus--highlighted--selected: rgba(24, 94, 144, 1);
    --item__text-color--focus--highlighted--selected: #fff;
    --item__background-color--hover: rgba(255, 255, 255, 0.1); /* rgba(24,94,144,0.3); */
    --item__text-color--hover: #cacbcb;
    --item__background-color--selected: rgba(255, 255, 255, 0.2); /* rgba(24,94,144,0.6); */
    --item__text-color--selected: #fff; /* #cacbcb; #fff; */
    --item__background-color--selected--hover: rgba(255, 255, 255, 0.2); /* rgba(24,94,144,0.7); */
    --item__text-color--selected--hover: #fff; /* #cacbcb; #fff; */

    /* Pipeline editor */
    --raised-low__background-color: #adadad;
    --raised-low__text-color: #cacbcb;
    --raised-high__background-color: #4d5250;
    --raised-high__text-color: #cacbcb;
    --raised-high__selected-background-color: #747c79;
    --raised-high__selected-focus-background-color: #747c79;
    --raised-element__border: thin solid #aaa;
    /*--border-color: #4d5250;*/

    /* Sidebar */
    --sidebar__header-color: #fff;
    --sidebar__background-color: #252526;
    --menu-item__text-color: rgba(255, 255, 255, 0.8);
    --menu-item__background-color--focus--highlighted: rgba(24, 94, 144, 0.3);
    --menu-item__text-color--focus--highlighted: #cacbcb;
    --menu-item__background-color--focus--highlighted--hover: rgba(24, 94, 144, 0.3); /* rgba(24,94,144,0.4); */
    --menu-item__text-color--focus--highlighted--hover: #cacbcb;
    --menu-item__background-color--focus--selected: rgba(24, 94, 144, 0.9);
    --menu-item__text-color--focus--selected: #fff;
    --menu-item__background-color--focus--highlighted--selected: rgba(24, 94, 144, 1);
    --menu-item__text-color--focus--highlighted--selected: #fff;
    --menu-item__background-color--hover: rgba(255, 255, 255, 0.1); /* rgba(24,94,144,0.3); */
    --menu-item__text-color--hover: #cacbcb;
    --menu-item__background-color--selected: rgba(255, 255, 255, 0.2); /* rgba(24,94,144,0.6); */
    --menu-item__text-color--selected: #fff; /* #cacbcb; #fff; */
    --menu-item__background-color--selected--hover: rgba(255, 255, 255, 0.2); /* rgba(24,94,144,0.7); */
    --menu-item__text-color--selected--hover: #fff; /* #cacbcb; #fff; */

    /* Specific */
    --header__icon-color: #2185d0;

    /* React table */
    --table__odd-row__background-colo: rgba(var(--black-rgb), 0.2);

    /* Dialog */
    --dialog__border-color: rgba(var(--black-rgb), .2);

    /* Status */
    --ok: var(--blue-500);
    --warn: var(--bootstrap-warning);
    --error: var(--bootstrap-error);
    --fatal: var(--black);

    /* Form fields */
    --primary: var(--blue-500);
    --valid: var(--bootstrap-success);
    --invalid: var(--bootstrap-error);
    --feedback: var(--red-200),
}

.stroom-theme-dark2 {
    --text-color: #abb0b6;
    --text-color-disabled: #666;
    --app-background-color: #1a1d21;
    --page-background-color: #1a1d21;
    --border-color: #14161b;
    --input-background-color: #262a32;
    --input-border-color: #191c21;
    --input-background-color-disabled: #1f2229;
    --input-border-color-disabled: #191c21;

    --header-border-color: #14161b;
    --even-row-background-color: #15161b;
    --odd-row-background-color: #22252c;

    --row__background-color--hovered: #2d2f35;
    --row__background-color--selected: #0065a7;
    --row__background-color--selected-hovered: #0078c7;
    --row__text-color--selected: #fff;
    --row__border-color--focussed: var(--focus-border);
    --row__box-shadow--focussed: var(--focus-shadow);
    --row__border-color--selected-focussed: var(--focus-border);
    --row__box-shadow--selected-focussed: var(--focus-shadow);

    --menu-separator-color: rgb(255 255 255 / 20%);

    --dialog-titlebar-background-image: none;
    --dialog-titlebar-background-color: #14161b;
    --dialog-titlebar-border-color: #14161b;
    --dialog-titlebar-text-color: #fff;
    --dialog-background-image: none;
    --dialog-background-color: #1a1d21;
    --dialog-border-color: #15161b;
    --dialog-shadow: 0 0 5px 2px rgb(0 0 0 / 100%);
    --popup-shadow: 0 0 5px 2px rgb(0 0 0 / 100%);

    --main-background-color: #1a1d21;
    --main-border-color: #15161b;

    --tooltip-background-color: #1a1d21;
    --tooltip-text-color: #fff;

    --button-background-image: none;
    --button-background-color: #262a32;
    --button-border-color: #14161b;
    --button-text-color: #f1f8f8;
    --button-background-image-active: none;
    --button-background-color-active: #262a32;
    --button-border-color-active: #444;
    --button-background-image-hover: none;
    --button-background-color-hover: #383d49;
    --button-border-color-hover: #14161b;
    --button-text-color-disabled: #888;
    --button-border-color-disabled-hover: #000;

    --expression-item-box-background-color-selected: #454545;
    --expression-item-box-background-color-hover: #555;
    --expression-item-box-background-color-disabled: #333;
    --expression-item-box-background-color-hotspot: rgba(255,0,0,.3);

    --pipeline-element-box-background-color: #454545;
    --pipeline-element-box-background-color-hover: #505050;
    --pipeline-element-box-background-color-selected: #1164a3;
    --pipeline-element-box-background-color-selected-hover: #1164a3;
    --pipeline-element-box-background-color-hotspot: rgba(255,0,0,.5);
    --pipeline-element-box-text-color: #fff;

    --link-text-color: #3aaaff;

    --code-editor-right-bar-background-color: #19171d;
    --code-editor-border-color: #000;
    --code-editor-info-border-color: #3676c6;
    --code-editor-info-background-color: #378cff;
    --code-editor-warning-border-color: #dd9942;
    --code-editor-warning-background-color: #ffde81;
    --code-editor-error-border-color: #660000;
    --code-editor-error-background-color: #ff3a37;
    --code-editor-fatal-border-color: #c5cde2;
    --code-editor-fatal-background-color: #000000;
    --code-editor-highlight-background-color: #1164a3;

    --xsdbrowser-title-background-color: #555;
    --xsdbrowser-title-background-color-selected: #1164a3;
    --xsdbrowser-box-background-color: #19171d;

    --vis-axis-color: rgba(255,255,255,0.54);
    --vis-text-color: rgba(255,255,255,0.87);
    --vis-text-color-faint: rgba(255,255,255,0.12);
    --vis-icon-color: rgba(255,255,255,0.38);
    --vis-icon-color-hover: rgba(255,255,255,0.87);
    --vis-barchart-element-stroke: #000;
    --vis-marker-stroke: #fff;
    --vis-series-label-background-color: rgba(0,0,0,0.87);
    --vis-tip-background-color: rgba(30, 30, 30, 0.8);
    --vis-tip-text-color: #bbb;

    --scrollbar-background-color: transparent;
    --scrollbar-corner-background-color: transparent;
    --scrollbar-thumb-border-color: transparent;
    --scrollbar-thumb-background-color: #5c5c5c;
    --scrollbar-thumb-background-color-hover: #8d8d8d;
    --scrollbar-thumb-background-color-active: #979797;

    --navigation-background-color: #19171d;
    --navigation-text-color: #e6e1dc;



    /**
     * NEW UI VARS
     */

    /* Page */
    --page__background-color: #212121;
    --page__text-color: #cacbcb;

    /* Controls */
    --control__background-color: #1c1f25;
    --control__text-color: #cacbcb;
    --control__border-color: #4d5250;

    /* Items, e.g. rows for tables, drop downs lists etc. */
    --item__background-color--focus--highlighted: rgba(24, 94, 144, 0.3);
    --item__text-color--focus--highlighted: #cacbcb;
    --item__background-color--focus--highlighted--hover: rgba(24, 94, 144, 0.3); /* rgba(24,94,144,0.4); */
    --item__text-color--focus--highlighted--hover: #cacbcb;
    --item__background-color--focus--selected: rgba(24, 94, 144, 0.9);
    --item__text-color--focus--selected: #fff;
    --item__background-color--focus--highlighted--selected: rgba(24, 94, 144, 1);
    --item__text-color--focus--highlighted--selected: #fff;
    --item__background-color--hover: rgba(255, 255, 255, 0.1); /* rgba(24,94,144,0.3); */
    --item__text-color--hover: #cacbcb;
    --item__background-color--selected: rgba(255, 255, 255, 0.2); /* rgba(24,94,144,0.6); */
    --item__text-color--selected: #fff; /* #cacbcb; #fff; */
    --item__background-color--selected--hover: rgba(255, 255, 255, 0.2); /* rgba(24,94,144,0.7); */
    --item__text-color--selected--hover: #fff; /* #cacbcb; #fff; */

    /* Pipeline editor */
    --raised-low__background-color: #adadad;
    --raised-low__text-color: #cacbcb;
    --raised-high__background-color: #4d5250;
    --raised-high__text-color: #cacbcb;
    --raised-high__selected-background-color: #747c79;
    --raised-high__selected-focus-background-color: #747c79;
    --raised-element__border: thin solid #aaa;
    /*--border-color: #4d5250;*/

    /* Sidebar */
    --sidebar__header-color: #fff;
    --sidebar__background-color: #252526;
    --menu-item__text-color: rgba(255, 255, 255, 0.8);
    --menu-item__background-color--focus--highlighted: rgba(24, 94, 144, 0.3);
    --menu-item__text-color--focus--highlighted: #cacbcb;
    --menu-item__background-color--focus--highlighted--hover: rgba(24, 94, 144, 0.3); /* rgba(24,94,144,0.4); */
    --menu-item__text-color--focus--highlighted--hover: #cacbcb;
    --menu-item__background-color--focus--selected: rgba(24, 94, 144, 0.9);
    --menu-item__text-color--focus--selected: #fff;
    --menu-item__background-color--focus--highlighted--selected: rgba(24, 94, 144, 1);
    --menu-item__text-color--focus--highlighted--selected: #fff;
    --menu-item__background-color--hover: rgba(255, 255, 255, 0.1); /* rgba(24,94,144,0.3); */
    --menu-item__text-color--hover: #cacbcb;
    --menu-item__background-color--selected: rgba(255, 255, 255, 0.2); /* rgba(24,94,144,0.6); */
    --menu-item__text-color--selected: #fff; /* #cacbcb; #fff; */
    --menu-item__background-color--selected--hover: rgba(255, 255, 255, 0.2); /* rgba(24,94,144,0.7); */
    --menu-item__text-color--selected--hover: #fff; /* #cacbcb; #fff; */

    /* Specific */
    --header__icon-color: #2185d0;

    /* React table */
    --table__odd-row__background-colo: rgba(var(--black-rgb), 0.2);

    /* Dialog */
    --dialog__border-color: rgba(var(--black-rgb), .2);

    /* Status */
    --ok: var(--blue-500);
    --warn: var(--bootstrap-warning);
    --error: var(--bootstrap-error);
    --fatal: var(--black);

    /* Form fields */
    --primary: var(--blue-500);
    --valid: var(--bootstrap-success);
    --invalid: var(--bootstrap-error);
    --feedback: var(--red-200),
}

.stroom-body {
	background-color: var(--app-background-color);
}

.stroom-theme-dark .navigation {
	background-color: var(--navigation-background-color) !important;
}

/**
 * Transitions for theme colours.
 */
.stroom-theme-transitions body {
    transition: color 3s linear;
	-webkit-transition: color 3s linear;
	-moz-transition: color 3s linear;
	-o-transition: color 3s linear;
}

.stroom-theme-transitions .stroom-content, .stroom-theme-transitions input {
    transition: background-color 3s linear;
	-webkit-transition: background-color 3s linear;
	-moz-transition: background-color 3s linear;
	-o-transition: background-color 3s linear;
}

.stroom-theme-transitions .gwt-TabLayoutPanel .gwt-TabLayoutPanelContent {
    transition: background-color 3s linear;
	-webkit-transition: background-color 3s linear;
	-moz-transition: background-color 3s linear;
	-o-transition: background-color 3s linear;
}

.stroom-theme-transitions .stroom-border {
	transition: border-color 3s linear;
	-webkit-transition: border-color 3s linear;
	-moz-transition: border-color 3s linear;
	-o-transition: border-color 3s linear;
}