@import "../../styles/colours";

// Password strength meter color for the different levels
$strength-colors: ($red-600, $deep-orange-600, $orange-600, $amber-600, $bootstrap-success);

// Gap width between strength meter bars
$strength-gap: 6px;

//body {
//  font-size: 62.5%;
//}
//
//.main-container {
//  width: 400px;
//  top: 0;
//  bottom: 0;
//  left: 0;
//  right: 0;
//}

.JoinForm__content {
  display: flex;
  flex-direction: column;
  width: 25rem;
}

.form-container {
  bottom: 100px;
}

legend.form-label {
  font-size: 1.5rem;
  color: desaturate(darken($blue-500, 10%), 60%);
}

.control-label {
  font-size: 0.8rem;
  font-weight: bold;
  color: desaturate(darken($blue-500, 10%), 80%);
}

.form-control {
  font-size: 0.8rem;
}

.form-hint {
  font-size: 0.6rem;
  line-height: 1.4;
  margin: -5px auto 5px;
  color: #999;

  &.error {
    color: #c00;
    font-size: 0.8rem;
  }
}

button.btn {
  letter-spacing: 1px;
  font-size: 0.8rem;
  font-weight: 600;
}

.NewPasswordField__password-count {
  top: .2rem;
  right: 1.3rem;
  font-size: 1rem;
}

.strength-meter {
  position: relative;
  height: 3px;
  background: #ddd;
  margin: 7px 0;
  border-radius: 2px;

  // Dynamically create the gap effect
  &:before,
  &:after {
    content: "";
    height: inherit;
    background: transparent;
    display: block;
    border-color: #fff;
    border-style: solid;
    border-width: 0 $strength-gap 0;
    position: absolute;
    width: calc(20% + #{$strength-gap});
    z-index: 10;
  }

  // Dynamically create the gap effect
  &:before {
    left: calc(20% - #{($strength-gap / 2)});
  }

  // Dynamically create the gap effect
  &:after {
    right: calc(20% - #{($strength-gap / 2)});
  }
}

.strength-meter-fill {
  background: transparent;
  height: inherit;
  position: absolute;
  width: 0;
  border-radius: inherit;
  transition: width 0.5s ease-in-out, background 0.25s;

  // Dynamically generate strength meter color styles
  @for $i from 1 through 5 {
    &[data-strength="#{$i - 1}"] {
      width: (20% * $i);
      background: nth($strength-colors, $i);
    }
  }
}

.FormField__input-container {
  position: relative;
}

.FormField__icon {
  position: absolute;
  top: .53rem;
  left: .2rem;
  font-size: 1rem;
  text-align: center;
  width: 1.5rem;
  user-select: none;
  opacity: .5;
}

//.FormField__icon-container span svg {
//  color: rgba(0,0,0,.25);
//  width: .9rem;
//}

//.FormField__icon {
//  color: #ced4da;
//}
//
//.ViewPassword__icon-container {
//  position: absolute;
//  top: .2rem;
//  right: .2rem;
//  font-size: 1rem;
//  text-align: center;
//  width: 1.5rem;
//  cursor: pointer;
//  user-select: none;
//  opacity: .8;
//}


.ViewPassword__icon {
  position: absolute;
  top: .53rem;
  right: .2rem;
  font-size: 1rem;
  text-align: center;
  width: 1.5rem;
  cursor: pointer;
  user-select: none;
  opacity: .8;
}

//.ViewPassword__icon-container span svg {
//  //color: desaturate(darken($primary, 10%), 80%);
//  color: rgba(0,0,0,.4);
//  //width: .9rem;
//}

//.ViewPassword__icon {
//  //color: #ced4da;
//  //color: desaturate(darken($primary, 10%), 80%);
//}

.form-control.hide-background-image {
  background-image: none;
}

.form-control.no-icon-padding {
  padding-left: .75rem;
  padding-right: .75rem;
}

.form-control.left-icon-padding {
  padding-left: 1.6rem;
}

.form-control.right-icon-padding {
  padding-right: 1.6rem;
}

.form-control.length-indicator-padding {
  padding-right: 4.5rem;
}
