.SearchBar {
  width: 100%;
}

.SearchBar__input {
  width: 100%;
}

.SearchBar__expressionBuilder {
  width: calc(100% - 131px) !important;
}

.SearchBar__layoutGrid {
  margin: 0 !important;
  width: 100%;
}

.SearchBar__validationMessages {
  width: 100%;
}

.SearchBar__expression {
  width: 100%;
}