@import "./DataDetails/Views/ErrorTable";
@import "./DataDetails/Views/EventView";
@import "./DetailsTabs";

.data-viewer {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.data-viewer__header {
  height: 50px;
  width: 100%;
  display: inline-flex;
  align-items: center;
}

.data-viewer__header__search-bar {
  flex-grow: 1;
}

.data-viewer__content {
  flex-grow: 1;
}


.data-list__table {
  width:100%;
}




.data-viewer__content_2 {
  position: absolute;
  height: 100%;
  width: 100%;
}


.data-viewer__content__table_2 {
  position: relative;
  height: calc(100% - 50px);
  width: 100%;
}

.data-viewer__content__table_2 .table__reactTable .rt-table {
  height: calc(100% - 50px);
}