<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j='http://jakarta.apache.org/log4j/'>
    <appender name="STDOUT" class="org.apache.log4j.ConsoleAppender">
        <layout class="org.apache.log4j.EnhancedPatternLayout">
            <param name="ConversionPattern" value="%d{yyyy-MM-dd'T'HH:mm:ss.SSS'Z'}{GMT+0} %-5p [%t] (%F:%L) - %m%n"/>
        </layout>
    </appender>

    <logger name="org.hibernate">
        <level value="fatal"/>
    </logger>

    <logger name="stroom">
        <level value="warn"/>
    </logger>

    <logger name="stroom.pipeline.task.TestTranslationTask">
        <level value="info"/>
    </logger>

    <root>
        <level value="error"/>
        <appender-ref ref="STDOUT"/>
    </root>
</log4j:configuration>
