/.classpath
/.externalToolBuilders/
/.project
/.settings/
/target/
/build/
/StatsTestData_Values.xml
/StatsTestData_Counts.xml
/StatsPurgeTestData_Counts.xml
/StatsPurgeTestData_Values.xml
/StatsBulkTestData_Counts.xml
/StatsBulkTestData_Values.xml
