.operator__children {
  padding-left: 2rem; }

.expression-item__root {
  margin-right: 0.5rem;
  margin-left: 0.5rem; }

.expression-item {
  margin-top: 0.5rem; }

.expression-item--disabled {
  opacity: 0.5; }

.input-between__divider {
  margin-right: 1rem;
  margin-left: 1rem; }

.operator__placeholder {
  opacity: 1.0;
  margin-top: 0.5rem;
  border-style: dashed;
  border-color: grey;
  height: 2.5rem;
  border-radius: 5px; }
